<extend name="Base/common" />
<block name="title">
        <title>
                案例展示_觅友
        </title>
</block>
<block name="keywords">
        <meta name="keywords" content="觅友，觅友网，觅友博客，觅友小站，前端，miuu,IT开发，css，css3，js，js特效，php，jquery，ajax，java">
</block>
<block name="description">
        <meta name="description" content="觅友_有朋自远方来，分享自己网站开发学习以及工作和生活中的点点滴滴，希望通过此网站，与大家一起交流、成长、进步！">
</block>
<block name="css">
        <include file="Public:css" />
</block>
<block name="web_css">
        <link rel="stylesheet" href="__PUBLIC__/Home/css/case.css">
</block>
<block name="js">
        <include file="Public:js" />
</block>
<block name="web_js">
</block>
<block name="header">
        <include file="Public:header" />
</block>
<block name="main">
        <aside id="fh5co-hero" class="small_bann" style="background-image: url(__IMG__/hero.jpg);">
                <div class="container">
                        <div class="row">
                        </div>
                </div>
        </aside>
        <div id="fh5co-main" class="small_main">
                <div class="header_barwrapper">
                        <div class="container">
                                <div class="row">
                                        <div class="col-sm-9 col-xs-9">
                                                <h3 class="animated fadeInDown">
                                                        工欲善其事，必先利其器！
                                                </h3>
                                                <div>
                                                        磨刀不误砍柴工,工具箱里收藏一些好用的工具吧
                                                </div>
                                        </div>
                                        <div class="col-sm-3 col-xm-3">
                                                <div class="header-search">
                                                        <div class="input-append">
                                                                <input class="span2 search" id="appendedInputButton" size="16" type="text"
                                                                value="请输入关键词" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入关键词';}">
                                                                <button class="btn go" type="button">
                                                                        <i class="ti-search">
                                                                        </i>
                                                                </button>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="wrapper wrapper-content">
                        <div class="container">
                        <div class="work">
                        <div class="products-bottom">
                          <div class="col-md-4 work-grid">
                                        <div class="view view-tenth">
                                              <a href="http://www.aibbk.com/" class="boxer">
                                                   <div class="inner_content clearfix">
                                                        <div class="product_image">
                                                                <img src="__IMG__/case/img1.jpg" class="img-responsive of-my" alt=""/>
                                                                <div class="mask" >
                                                <h4>背包客户外网</h4>
                                                <p>背包客户外网以集交友互动、电商购物于一体的户外互动交流平台,致力于推动户外运动，做中国最优秀的户外门户网站。</p>
                                            </div>
                                                </div>
                                         </div>
                                            </a>
                                       </div>
                                          </div>
                                          <div class="col-md-4 work-grid">
                                        <div class="view view-tenth">
                                              <a href="http://www.chengmei.com/" class="boxer">
                                                   <div class="inner_content clearfix">
                                                        <div class="product_image">
                                                                <img src="__IMG__/case/img2.jpg" class="img-responsive of-my" alt=""/>
                                                                <div class="mask" >
                                                <h4>上海诚美</h4>
                                                <p>一家覆盖了药妆、美妆和互联网渠道，成为多品牌、多渠道经营的化妆品集团企业。</p>
                                            </div>
                                                </div>
                                         </div>
                                            </a>
                                       </div>
                                          </div>
                                          <div class="col-md-4 work-grid">
                                        <div class="view view-tenth">
                                              <a href="http://aiduitu.com/test/index.html" class="boxer">
                                                   <div class="inner_content clearfix">
                                                        <div class="product_image">
                                                                <img src="__IMG__/case/img3.jpg" class="img-responsive of-my" alt=""/>
                                                                <div class="mask" >
                                                <h4>背包客手机站</h4>
                                                <p>背包客手机网站，集互动、组队、交友为一体的户外手机网站</p>
                                            </div>
                                                </div>
                                         </div>
                                            </a>
                                       </div>
                                          </div>


                          <div class="col-md-4 work-grid">
                                        <div class="view view-tenth">
                                              <a href="http://zhi.aibbk.com/" class="boxer">
                                                   <div class="inner_content clearfix">
                                                        <div class="product_image">
                                                                <img src="__IMG__/case/img4.jpg" class="img-responsive of-my" alt=""/>
                                                                <div class="mask" >
                                                <h4>陟·拓展</h4>
                                                <p>致力于开发国内外精品户外线路及拓展训练课程，帮助各类型企业打造一支支高绩效团队。</p>
                                            </div>
                                                </div>
                                         </div>
                                            </a>
                                       </div>
                                          </div>
                                          <div class="col-md-4 work-grid">
                                        <div class="view view-tenth">
                                              <a href="http://www.sdcianet.com" class="boxer">
                                                   <div class="inner_content clearfix">
                                                        <div class="product_image">
                                                                <img src="__IMG__/case/img5.jpg" class="img-responsive of-my" alt=""/>
                                                                <div class="mask" >
                                                <h4>山东省涂料行业协会</h4>
                                                <p>山东省涂料行业协会展示网站</p>
                                            </div>
                                                </div>
                                         </div>
                                            </a>
                                       </div>
                                          </div>
                                          <div class="col-md-4 work-grid">
                                        <div class="view view-tenth">
                                              <a href="http://www.51shangyi.com/" class="boxer">
                                                   <div class="inner_content clearfix">
                                                        <div class="product_image">
                                                                <img src="__IMG__/case/img6.jpg" class="img-responsive of-my" alt=""/>
                                                                <div class="mask" >
                                                <h4>上医网</h4>
                                                <p>成立于2014年，是一个专注于中医的创业团队，致力于服务所有有疗效的中医、中医机构</p>
                                            </div>
                                                </div>
                                         </div>
                                            </a>
                                       </div>
                                          </div>
                          <div class="col-md-4 work-grid">
                                        <div class="view view-tenth">
                                              <a href="https://www.lu.com/" class="boxer">
                                                   <div class="inner_content clearfix">
                                                        <div class="product_image">
                                                                <img src="__IMG__/case/img7.jpg" class="img-responsive of-my" alt=""/>
                                                                <div class="mask" >
                                                <h4>陆金所</h4>
                                                <p>之前团队做的一个网站，现已改版</p>
                                            </div>
                                                </div>
                                         </div>
                                            </a>
                                       </div>
                                          </div>
                                          <div class="col-md-4 work-grid">
                                        <div class="view view-tenth">
                                              <a href="http://www.licron.com/" class="boxer">
                                                   <div class="inner_content clearfix">
                                                        <div class="product_image">
                                                                <img src="__IMG__/case/img8.jpg" class="img-responsive of-my" alt=""/>
                                                                <div class="mask" >
                                                <h4>礼众信息</h4>
                                                <p>一家专注于开发网站外包项目的公司，主要业务包括企业站、行业站及手机端电商网站等开发服务。</p>
                                            </div>
                                                </div>
                                         </div>
                                            </a>
                                       </div>
                                          </div>
                                          <div class="col-md-4 work-grid">
                                        <div class="view view-tenth">
                                              <a href="http://www.ys-capital.com/" class="boxer">
                                                   <div class="inner_content clearfix">
                                                        <div class="product_image">
                                                                <img src="__IMG__/case/img9.jpg" class="img-responsive of-my" alt=""/>
                                                                <div class="mask" >
                                                <h4>银树资本</h4>
                                                <p>专业从事股权投资管理、企业资产管理、境内外上市或并购财务顾问、投融资顾问、私人财富管理。</p>
                                            </div>
                                                </div>
                                         </div>
                                            </a>
                                       </div>
                                          </div>

                                <div class="clearfix"> </div>
                        </div>
                </div>
                </div>
        </div>
        <script>
                $("#Function_index").addClass("active");
        </script>
</block>
<block name="footer">
        <include file="Public:footer" />
</block>