.menu {
	padding: 15px;
	border: 1px solid #D5E5F5;
	background-color: #F4F7FB;
}
.menu-photo {
	margin:20px auto;
}
.panel-group .panel {
    border-radius: 0px;
}
.panel-default {
    border:1px solid #e9e9e9;
}
.panel-default > .panel-heading {
    color: #333;
   	background-color: #efefef;
    border-color: #ddd;
}
.panel-body > ul > li > a {
    background: #FFFFFF;
}
.panel-body > ul > li > a:hover {
    color: #333333;
    background: #f9f9f9;
}
.usercenter .shopcart .setNum {
    padding: 0;
    width: 20px;
    height: 20px;
    color: #FFF;
    background-color: #BDBDBD;
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}
.usercenter .shopcart .setNum:hover {
    background-color: #337ab7;
}
.usercenter .shopcart .item-num {
    margin: 5px;
    width: 35px;
    text-align: center;
    height: 22px;
    line-height: 20px;
    padding: 0 3px;
}
.usercenter .content table{
	border-collapse:collapse;
	font-size:12px;
	font-family:Verdana,"Microsoft YaHei";
	color:#333;
}

/*è´­ç‰©è½¦*/
.usercenter .shopcart{
	width:100%;
	margin:0 auto;
}
.usercenter .shopcart th{
	border-top:none;
	border-bottom:2px solid #B2D1FF;
	font-weight:normal;
}
.usercenter .shopcart tr.item{
	background-color:#FAFCFF;
	border-bottom:1px dotted #84B3FD;
}
.usercenter .shopcart .item-price{
	color:#FF3334;
	font-weight:bold;
	font-family:"Microsoft YaHei";
}
.form-control, .single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}
.control-label {
	line-height: 34px!important;
}
.control-select {
	padding: 6px 12px;
	border: 1px solid #e5e6e7;
	color: inherit;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
#monery {
	color: #FF3334;
    font-weight: bold;
    font-family: "Microsoft YaHei";
}
    