/* 
* @Author: MACYU
* @Date:   2016-03-21 10:32:55
* @Last Modified by:   anchen
* @Last Modified time: 2016-03-21 11:20:06
*/

/*商品列表页*/
.find {
	overflow:hidden;
}
.find-color {
	border:1px solid #ddd;
	margin-bottom: 10px;
}
.find-color h5 {
	margin-left: 20px;
	margin-top: 20px;
}
.find .find-right {
	width:1000px;
	margin:20px 0;
	margin-left:10px;
}
.find .filter {
	padding: 10px 20px 20px 20px;
	border:1px solid #ddd;
}
.find .filter li {
	line-height:31px;
	padding:5px 10px;
	border-top:1px dotted #ddd;
	background:#fff;
}
.find .filter-title {
	background:#F7F7F7;
	border:0!important;
}
.find .filter li span {
	display: inline-block;
	width: 55px;
	margin-right:10px;
}
.find .filter li a {
	margin-right:30px;
	color:#005aa0;
}
.find .find .filter li a:hover {
	color:#E4393C;
	text-decoration:none;
}
.find .filter .curr {
	background:#DEEFFA;
}
.good-box {
	margin-bottom: 10px;
	overflow: hidden;
}
.curr {
    background: #DEEFFA;
}
.find .find-item {
	margin:10px auto;
	border:1px solid #eee;
}
.find .find-item:hover {
	border: 1px solid #ccc;
    box-shadow: 0 0 8px #eee;
}
	
.find-item {
	padding: 10px;
}
.find-item a img {
	width: 100%;
}
.find .find-item .item {
	margin:10px 8px;
	width:220px;
	height:290px;
	padding:10px 6px;
	border:1px solid #eee;
	background:#fff;
}
.find .find-item .item:hover {
	border:1px solid #ccc;
	box-shadow:0 0 8px #eee;
}
.find .find-item .goods {
	margin:10px;
}
.find .find-item .goods a {
	font-size:12px;
	color:#666;
	max-height:27px;
	display:block;
	overflow:hidden;
}
.find .find-item .goods a:hover {
	color:#E4393C;
}
.find .find-item .price {
	color:#E4393C;
	font-weight:bold;
	margin-left:8px;
	font-family:"Microsoft YaHei"
}
.find .find-item .pagelist {
	padding-top:30px;
	text-align:right;
}
.find .find-item .pagelist a {
	margin:0 5px;
	border:1px solid #ddd;
	padding:5px 8px;
	color:#666;
}
.find .find-item .pagelist a:hover {
	text-decoration:none;
	background:#EAF4FB;
}
.find .find-item .pagelist span {
	padding:5px 8px;
}
.find .empty-tip {
	margin:20px 30px;
}
/*左侧商品相关推荐*/
.find .goods {
	margin:9px;
}
.find .goods a {
	color:#666;
	max-height:27px;
	display:block;
	overflow:hidden;
}
.find .goods a:hover {
	color:#E4393C;
}
.find .price {
	color:#E4393C;
	font-weight:bold;
	font-family:"Microsoft YaHei";
	margin-left:7px;
}
.remember {
	padding: 0px 20px;
}
.item {
	padding:0px;
}
.item li a img {
	width: 100%;
}

