.goods-slide .title {
    margin: 20px;
}
.goodsinfo .pic {
    border: 1px dotted #ccc;
}
.goodsinfo .pic img {
    width: 100%;
}
.goodsinfo .now_cat {
    margin: 15px;
}
.goods-slide {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.cnt-btn {
    margin-right: 15px;
    font-family: "Lato";
    border: none;
    display: inline-block;
    padding: 10px 25px;
    font-size: 11px;
    text-transform: uppercase;
    color: #2db4d8;
    border: 1px solid rgb(45, 180, 216);
    border: 1px solid rgba(45, 180, 216, .5);
    background: #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
    transition: background 0.25s linear;
    outline: none;
    cursor: pointer;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    -webkit-appearance: none;
}
.cnt-btn:hover {
    color: #fff;
    background: #2db4d8;
    border: 1px solid #2db4d8;
    -webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
    transition: background 0.25s linear;
}
ul.item {
    padding: 0 20px;
}
.good_info {
    margin-bottom: 20px;
}
.goodsinfo .desc .title {
    padding: 0 10px 10px 10px;
    background: #fefefe;
    font-family: 'Microsoft YaHei';
    font-size: 18px;
}
.goods-slide .title h5 {
    font-size: 16px;
}
.goodsinfo .desc .content {
    border-top: 1px solid #ccc;
    padding: 20px 10px;
    min-height: 400px;
}
.info h3 {
    height: 34px;
    border-bottom: 1px dotted #ccc;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.goodsinfo .info table {
    margin: 15px 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.goodsinfo .info h3 {
    margin: 0;
    padding-bottom: 40px;
    font-size: 24px;
    border-bottom: 1px dotted #ccc;
}
.goodsinfo .info tr {
    height: 30px;
}
.goodsinfo .info th {
    text-align: right;
    width: 80px;
}
.goodsinfo .info .price {
    font-weight: bold;
    color: #E4393C;
}
.goodsinfo .num-btn {
    width: 40px;
    padding: 2px 3px;
    background: #fff;
    border: 1px solid #e0e0dd;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #aaaaaa;
    font-family: "Lato";
    font-weight: 300;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-transition: border 0.25s linear;
    -moz-transition: border 0.25s linear;
    transition: border 0.25s linear;
    outline: none;
}

.goodsinfo .cnt-btn {
    padding: 0px 7px;
    margin-right: 0px;
}
.button .btn {
    margin-right: 10px;
    border-radius: 0px;
    letter-spacing: 0;
}
.goodsinfo .button {
   padding-top: 20px;
}
.btn-blue {
    background-color: #2babcf;
    background-image: -webkit-linear-gradient(top, #45b8d8 0%, #2babcf 100%);
    background-image: -moz-linear-gradient(top, #45b8d8 0%, #2babcf 100%);
    background-image: -o-linear-gradient(top, #45b8d8 0%, #2babcf 100%);
    background-image: linear-gradient(top, #45b8d8 0%, #2babcf 100%);
    border-color: #2288a5;
    color: #fff;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
    background-image: none;
    border-color: #1e7790;
    color: #fff;
}

@media (max-width: 768px ) {
    .goodsinfo .pic {
    margin-bottom: 25px;
}
}