input[type="text"], input[type="password"],input[type="email"], textarea {
    display: block;
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    padding: 12px 15px;
    margin-bottom: 10px;
}
.cell input[type="submit"] {
	border-radius: 0;
	width: 100%;
}
.vcode_img img {
	width: 100%;
}
input.error { border: 1px solid #f8a608; }
label.error {
	background:url("../img/error.png") no-repeat 0px 2px;
	padding-left: 18px;
	padding-bottom: 2px;
	color: #FD4D16;;
	font-weight: normal;
}
label {
	margin-bottom: 0;
}
body {
	background: url(../img/bg-6.jpg);
	background-size: cover;
	background-position:70% 10%; 
	background-repeat: no-repeat;
}

/* 单个页面锁定屏幕，垂直居中处理 */
.login-bg {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	display: -webkit-box; 
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
}

.login,.reg {
	.login_main,.reg_main {
		padding:1.6em 2em;
		border: 1px solid #eee;
		background: #fff;
	}
	h4 {
		margin:0;
	}
}
.bottom_fix a {
	margin:0 7px;
}

@media (max-width:768px) {
	body {
	background: url(../img/feature-image.jpg);
	background-position:70% 10%; 
	background-repeat: no-repeat;
}

}
