body{margin:0;padding:0;}
body{background:#F2F2F2;background-image: url(../img/bg.png);color:#666;font-size:16px;}
h1{font-size:24px;text-shadow:1px 1px 1px #ccc;}
.clear{clear:both;}
.center{text-align:center;}
.left{float:left;}
.right{float:right;}
.box{width:800px;margin:0 auto;margin-top:30px;}
.box .main{margin:30px auto;box-shadow: 0 0 15px #ccc;background:#fff;padding:40px;}
.box .main .login-ad{width:320px;height:250px;background:url(../img/ad02.jpg);}
.box .main .register-ad{width:320px;height:250px;background:url(../img/ad02.jpg);}
.box .main .login{width:350px;}
.box .main th{text-align:right;}
.box .main input{width:250px;height:18px;padding:5px;border:1px solid #ddd;}
.box .main tr{height:40px;}
.box .main th{font-weight:normal;}
.box .main img{cursor:pointer;}
.box .main a{color:#EE4C4F;font-size:14px;text-decoration: none;margin-left:20px;}
.box .main a:hover{text-decoration:underline;}
.box .main .button{width:250px;height:30px;background:#EE4C4F;border:1px solid #E37A7D;color:#fff;cursor:pointer;}
.box .main .button{*border:none;}
.box .main .button:hover{background:#F4595C;}
.box .main .error{border:1px solid #E37A7D;}
