<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>{$title}_觅友</title>
<meta name="keywords" content="觅友，觅友网，觅友博客，觅友小站，前端，miuu,IT开发，css，css3，js，js特效，php，jquery，ajax，java">
<meta name="description" content="觅友_有朋自远方来，分享自己网站开发学习以及工作和生活中的点点滴滴，希望通过此网站，与大家一起交流、成长、进步！">
<include file="Public:css" />
<link rel="stylesheet" href="__CSS__/index.css" />
<include file="Public:aside_js" />
</head>
<body>
<include file="Public:header" />
<!-- revolution slider start -->
<section class="focusbox">
    <div class="container">
        <h1 class="focusbox-title">小段子</h1>
        <div class="focusbox-text">生活处处皆段子，人生百态，冷暖是非！</div>
    </div>
</section>
<!--container start-->
<div class="content">
    <div class="container space30">
        <div class="row">
            <div class="col-md-24 wow fadeInLeft animated animated">
                <ul id="filters" class="list-unstyled news-filter col-md-24">
                    <notempty name="categorynews.parent">
                        <volist name="categorynews.parent" id="v">
                            <foreach name="v" item="vv">
                                <li>
                                <a href="{:newsmkFilterURL('cid',$vv['id'])}" class="cid-{$vv.id}" >{$vv.name}</a>
                                </li>
                            </foreach>
                        </volist>
                    </notempty>
                </ul>
                <div class="clearfix">
                    <empty name="news.data">
                        <p class="no_find">很抱歉，此分类暂无文章!</p><else/>
                        <foreach name="news.data" item="v">
                            <article class="excerpt excerpt-text col-md-6 col-xs-24">
                                <div class="excerpt-news">
                                    <h2 class="title">
                                        <a href="javascript:void(0)" target="_blank" title="{$v.name}">{$v.name}</a>
                                    </h2>
                                    <div class="news-content">{$v.content}</div>
                                </div>
                            </article>
                        </foreach>
                    </empty>
                </div>
                <nav class="text-center">
                    <div class="pagination">{$news.pagelist}</div>
                </nav>
           </div>
           
        </div>
    </div>
</div>
<include file="Public:footer" />
<include file="Public:js" />
<script>
$("#news_index").addClass("active");
//筛选列表，分类的当前选中效果
<foreach name="categorynews.pids" item="v">
    $(".cid-{$v}").addClass("curr");
</foreach>
</script>
</body>
</html>
