<extend name="Base/common" />
<block name="title"><title>{$goods.name}</title></block>
<block name="keywords"><meta name="keywords" content="个人博客，网站开发，学习分享，米鱼博客，CSS，javascript，jqueryPHP，MIUU博客"></block>
<block name="description"><meta name="description" content="Miuu个人博客，是一个web前端的程序员个人网站，关注于互联网网站开发技术和行业最新资讯，与大家一起学习交流。"></block>
<block name="css"><include file="Public:css" /></block>
<block name="web_css"><link rel="stylesheet" href="__PUBLIC__/home/css/good.css">
</block>
<block name="js"><include file="Public:js" /></block>
<block name="web_js">
</block>
<block name="header"><include file="Public:header" /></block>
<block name="main">
	<aside id="fh5co-hero" class="small_bann" style="background-image: url(__IMG__/hero.jpg);">
	        <div class="container">
	                <div class="row">
	                </div>
	        </div>
	</aside>

	<div id="fh5co-main" class="small_main">
		<div class="header_barwrapper">
	                        <div class="container">
	                                <div class="row">
	                                        <div class="col-sm-9 col-xs-9">
	                                                <h3 class="animated fadeInDown">
	                                                        嘟嘟书舍
	                                                </h3>
	                                                <div>
	                                                        存放个各类喜欢的图书，希望有机会买来看看！
	                                                </div>
	                                        </div>
	                                        <div class="col-sm-3 col-xm-3">
	                                                <div class="header-search">
	                                                        <div class="input-append">
	                                                                <input class="span2 search" id="appendedInputButton" size="16" type="text"
	                                                                value="请输入关键词" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入关键词';}">
	                                                                <button class="btn go" type="button">
	                                                                        <i class="ti-search">
	                                                                        </i>
	                                                                </button>
	                                                        </div>
	                                                </div>
	                                        </div>
	                                </div>
	                        </div>
	                </div>

		<div class="wrapper wrapper-content">
			<div class="container">
					<div class="goodsinfo">
						<div class="row good_info">
							<div class="now_cat">当前位置：<foreach name="path" item="v">&nbsp;
								<a href="{:U('Goods/index',array('cid'=>$v['id']))}">{$v.name}</a>&nbsp;&gt;</foreach>&nbsp;{$goods.name}
							</div>
							<div class="col-sm-4">
								<div class="pic"><empty name="goods.thumb"><img src="__PUBLIC__/Common/img/preview2.jpg" /><else/>
								<img src="__PUBLIC__/Uploads/big/{$goods.thumb}" /></empty></div>
							</div>
							<div class="col-sm-8">
								<div class="info"><h3>{$goods.name}</h3>
									<table>
										<tr><th>售 价：</th><td><span class="price">￥{$goods.price}</span></td></tr>
										<tr><th>商品编号：</th><td>{$goods.sn}</td></tr>
										<tr><th>累计销量：</th><td>1000</td></tr>
										<tr><th>评 价：</th><td>1000</td></tr>
										<tr><th>配送至：</th><td>北京（免运费）</td></tr>
										<tr><th>购买数量：</th><td>
											<input type="button" value="-" class="cnt-btn" />
											<input type="text" value="1" id="num" class="num-btn" />
											<input type="button" value="+" class="cnt-btn" />（库存：{$goods.stock}）</td></tr>
										<tr><td colspan="2" class="button"><a class="btn btn-blue" href="#" id="buy">立即购买</a><a class="btn btn-default" href="#" id="addCart">加入购物车</a></td></tr>
									</table>
								</div>
								<form method="post" action="{:U('Order/buy')}" id="form_buy">
									<input type="hidden" name="buy[0][id]" value="{$goods.id}">
									<input type="hidden" name="buy[0][num]" value="" id="form_num">
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<div class="goods-slide">
									<div class="title"><h5>相关商品推荐</h5></div>
									<foreach name="recommend" item="v">
									<ul class="item">
										<li><a href="{:U('Index/goods',array('id'=>$v['id']))}" target="_blank"><empty name="v.thumb"><img src="__PUBLIC__/Common/img/preview.jpg"><else/><img src="__PUBLIC__/Uploads/small/{$v.thumb}"></empty></a></li>
										<li class="goods"><a href="{:U('Index/goods',array('id'=>$v['id']))}" target="_blank">{$v.name}</a></li>
										<li class="price">￥{$v.price}</li>
									</ul>
									</foreach>
								</div>
							</div>
							<div class="col-sm-9">
								<div class="desc"><div class="title">商品详情</div><div class="content">{$goods.desc}</div></div>

							</div>
						</div>

				</div>
			</div>
		</div>
	</div>
	<script>
	$("#Goods_index").addClass("active");
	//导航条选中效果
	$("#Index_find").addClass("category-curr");
	//购买数量加减
	$(".cnt-btn").click(function(){
		var num = parseInt($("#num").val());
		if ($(this).val() === '-') {
			if ( num=== 1) return;
			$("#num").val(num-1);
		}else if ($(this).val() === '+') {
			if (num === {$goods.stock}) return;
			$("#num").val(num+1);
		}
	});
	//自动纠正购买数量
	$("#num").keyup(function(){
		var num = parseInt($(this).val());
		if(num<1){
			$(this).val(1);
		}else if(num > {$goods.stock}){
			$(this).val({$goods.stock});
		}
	});
	//添加购物车
	$("#addCart").click(function(){
		var url = "{:U('Cart/add',array('id'=>$goods['id'],'num'=>'_NUM_'))}";
		window.location.href = url.replace("_NUM_",$("#num").val());
	});
	//购买
	$("#buy").click(function(){
		$("#form_num").val($("#num").val());
		$("#form_buy").submit();
	});
	</script>
</block>
<block name="footer"><include file="Public:footer" /></block>
