<extend name="Base/common" />
<block name="title"><title>嘟嘟书舍</title></block>
<block name="keywords"><meta name="keywords" content="个人博客，网站开发，学习分享，米鱼博客，CSS，javascript，jqueryPHP，MIUU博客"></block>
<block name="description"><meta name="description" content="Miuu个人博客，是一个web前端的程序员个人网站，关注于互联网网站开发技术和行业最新资讯，与大家一起学习交流。"></block>
<block name="css"><include file="Public:css" /></block>
<block name="web_css">
    <link rel="stylesheet" href="__CSS__/find.css"/>
</block>
<block name="js"><include file="Public:js" /></block>
<block name="web_js">
</block>
<block name="header"><include file="Public:header" /></block>
<block name="main">
	<aside id="fh5co-hero" class="small_bann" style="background-image: url(__IMG__/hero.jpg);">
	        <div class="container">
	                <div class="row">
	                </div>
	        </div>
	</aside>

	<div id="fh5co-main" class="small_main">
		<div class="header_barwrapper">
	                        <div class="container">
	                                <div class="row">
	                                        <div class="col-sm-9 col-xs-9">
	                                                <h3 class="animated fadeInDown">
	                                                        嘟嘟书舍
	                                                </h3>
	                                                <div>
	                                                        存放个各类喜欢的图书，希望有机会买来看看！
	                                                </div>
	                                        </div>
	                                        <div class="col-sm-3 col-xm-3">
	                                                <div class="header-search">
	                                                        <div class="input-append">
	                                                                <input class="span2 search" id="appendedInputButton" size="16" type="text"
	                                                                value="请输入关键词" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入关键词';}">
	                                                                <button class="btn go" type="button">
	                                                                        <i class="ti-search">
	                                                                        </i>
	                                                                </button>
	                                                        </div>
	                                                </div>
	                                        </div>
	                                </div>
	                        </div>
	                </div>
		<div class="wrapper wrapper-content">
			<div class="find box container">
				<div class="row">
					<div class="col-sm-3">
						<div class="find-color">
							<h5>相关商品推荐</h5>
							<div class="">
								<div class="remember">
									<foreach name="goods.recommend" item="v">
										<ul class="item">
											<li><a href="{:U('Index/goods',array('id'=>$v['id']))}" target="_blank"><empty name="v.thumb"><img src="__PUBLIC__/Common/img/preview.jpg"><else/><img src="__PUBLIC__/Uploads/small/{$v.thumb}"></empty></a></li>
											<li class="goods"><a href="{:U('Index/goods',array('id'=>$v['id']))}" target="_blank">{$v.name}</a></li>
											<li class="price">￥{$v.price}</li>
										</ul>
									</foreach>
								</div>
							</div>

						</div>
					</div>
					<div class="col-sm-9">
						<div class="box">
							<ul class="filter">
								<li class="filter-title"><h5>商品列表</h5></li>
								<notempty name="category.parent">
									<volist name="category.parent" id="v">
										<li><span>分类{$i}：</span>
										<foreach name="v" item="vv"><a href="{:mkFilterURL('cid',$vv['id'])}" class="cid-{$vv.id}" >{$vv.name}</a></foreach></li>
									</volist>
								</notempty>
								<li><span>价格：</span>
								<a href="{:mkFilterURL('price')}" class="price-0">全部</a>
									<foreach name="goods.price" item="v">
										<a href="{:mkFilterURL('price',$v)}" class="price-{$v}">{$v}</a>
									</foreach>
								</li>
								<li><span>排序：</span>
									<a href="{:mkFilterURL('order')}" class="order-0">最新上架</a>
									<a href="{:mkFilterURL('order','price-asc')}" class="order-price-asc">价格升序</a>
									<a href="{:mkFilterURL('order','price-desc')}" class="order-price-desc">价格降序</a>
								</li>
							</ul>
							<div class="good-box row">

									<empty name="goods.data"><div class="empty-tip">没有找到您需要的商品。</div>
										<else/>
										<div class="good-list clearfix">
										<foreach name="goods.data" item="v">
											<div class="col-sm-4">
												<div class="find-item">
													<a href="{:U('Goods/good',array('id'=>$v['id']))}" target="_blank"><empty name="v.thumb"><img src="__PUBLIC__/Common/img/preview.jpg"><else/><img src="__PUBLIC__/Uploads/small/{$v.thumb}"></empty></a>
													<a class="goods" href="{:U('Goods/good',array('id'=>$v['id']))}" target="_blank">{$v.name}</a>
													<p class="price">￥{$v.price}</p>
												</div>
											</div>
										</foreach>
									</div>
									<div class="pagelist">{$goods.pagelist}</div>
									</empty>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
<script>
    $("#Goods_index").addClass("active");
</script>
<script>
//导航条选中效果
$("#Index_find").addClass("category-curr");
//筛选列表，分类的当前选中效果
<foreach name="category.pids" item="v">
	$(".cid-{$v}").addClass("curr");
</foreach>
//商品价格的选中效果
<present name="Think.get.price">
	$(".price-{$Think.get.price}").addClass("curr");
<else/>
	$(".price-0").addClass("curr");
</present>
//商品排序的选中效果
<present name="Think.get.order">
	$(".order-{$Think.get.order}").addClass("curr");
<else/>
	$(".order-0").addClass("curr");
</present>
</script>
</block>
<block name="footer"><include file="Public:footer" /></block>
