<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>文章分类修改-米鱼博客</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/admin/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>商品分类修改</h5>
                        <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    </div>
                    <div class="ibox-content">
                    	<div class="top-button">
							相关操作：<a href="{:U('Category/index')}" class="light">分类列表</a>
						</div>
						<present name="success"><div class="mssage">修改成功。</div></present>
							<form method="post" class="form-horizontal" enctype="multipart/form-data">
								<div class="top-button">
        							<h4>上级分类：</h4>
        							<select name="pid" class="form-control">
										<option value="0">顶级分类</option>
										<foreach name="category" item="v">
											<option value="{$v.id}" <eq name="v.id" value="$pid">selected</eq>>{:str_repeat('/ ',$v['level'])}{$v.name}</option>
										</foreach>
									</select>
        						</div>
        						<div class="hr-line-dashed"></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label">分类名称：</label>
	                                <div class="col-sm-10">
	                                    <input type="text" name="name" class="form-control" value="{$name}" />
	                                </div>
	                            </div>
								<div class="form-group">
	                                <div class="col-sm-4 col-sm-offset-2">
	                                    <button class="btn btn-primary" type="submit" value="修改分类">修改分类</button>
	                                    <button class="btn btn-white" type="reset" value="重新填写" name="return">重新填写</button>
	                                </div>
	                            </div>
                        	</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/content.min.js"></script>

</body>
</html>