<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>{$title}_觅友</title>
<meta name="keywords" content="代码比较工具，代码对比工具，对比工具，觅友，觅友网，觅友博客，觅友小站，前端，miuu,IT开发，css，css3，js，js特效，php，jquery，ajax，java">
<meta name="description" content="觅友_有朋自远方来，分享自己网站开发学习以及工作和生活中的点点滴滴，希望通过此网站，与大家一起交流、成长、进步！">
<include file="Public:css" />
<link rel="stylesheet" href="__PUBLIC__/Home/css/tools.css" >
<include file="Public:aside_js" />

</head>
<body>
<include file="Public:header" />
<section class="focusbox">
    <div class="container">
        <h1 class="focusbox-title">工具箱</h1>
        <div class="focusbox-text">常言道:工欲善其事必先利器。好工具是让编程更轻松更顺利的保障</div>
    </div>
</section>
<div class="wrapper wrapper-content clearfix content">

  	<div class="container space30 ">
        <div class="row">
            <div class="col-sm-12">
                <div class="container archives">
                    <ol class="breadcrumb tool-breadcrumb">
                        <li><a href="{:U('Index/index')}">首页</a></li>
                        <li><a href="{:U('Tools/tools')}">工具箱</a></li>
                        <li class="active">代码对比工具</li>
                    </ol>
                    <div class="toolcode text-left">
                        <!-- /工具开始 -->
                        <h3>
                            代码对比工具:
                        </h3>
                        <p class="sign_color"><a href="http://www.mergely.com/" target="_blank">mergely对比工具</a>——支持Firefox 2+、Chrome - any version、Internet Exporer 9+、Safari 3+、Opera 9+等浏览器，请放心使用！</p>
                        <div>
                            <form class="form-inline well clearfix" style="margin:10px 0 0 0;">
                                <div class="col-md-6">
                                    <label>选择第一个文件：</label>
                                    <input type="file" id="file" onchange="leftFileSelect(this.files)" style="display:inline-block;max-width:170px;" single="">
                                    <label>编码：</label>
                                    <select id="l_encode" value="UTF-8" class="span1" onchange="setLeftCode();">
                                        <option value="UTF-8">UTF-8</option>
                                        <option value="GBK">GBK</option>
                                        <option value="GB2312">GB2312</option>
                                        <option value="GB18030">GB18030</option>
                                        <option value="ISO-8859-2">ISO-8859-2</option>
                                    </select>
                                </div>
                                <div class="col-md-6 text-right">
                                    <label>选择第二个文件：</label>
                                    <input type="file" id="file" onchange="rightFileSelect(this.files)" style="display:inline-block;max-width:170px;" single="">
                                    <label>编码：</label>
                                    <select id="r_encode" value="UTF-8" class="span1" onchange="setRightCode();">
                                        <option value="UTF-8">UTF-8</option>
                                        <option value="GBK">GBK</option>
                                        <option value="GB2312">GB2312</option>
                                        <option value="GB18030">GB18030</option>
                                        <option value="ISO-8859-2">ISO-8859-2</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div id="diff" class="toolUsing">
                        </div>

                        <!-- /工具结束 -->
                    </div>
                    <div class="relates">
                        <h3>推荐工具箱</h3>
                        <ul>
                            <li>
                                <a href="{:U('Tools/jsformat')}">JS/HTML格式化工具</a>
                            </li>
                            <li>
                                <a href="{:U('Tools/cssformat')}">CSS代码格式化工具</a>
                            </li>
                            <li>
                                <a href="{:U('Tools/showcode')}">代码在线演示</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<include file="Public:footer" />
<include file="Public:js" />
<link rel="stylesheet" type="text/css" href="__PLUGINS__/mergelyDiff/codemirror.css">
<script type="text/javascript" src="__PLUGINS__/mergelyDiff/codemirror.min.js"></script>

<link rel="stylesheet" type="text/css" href="__PLUGINS__/mergelyDiff/mergely.css">
<script src="__PLUGINS__/mergelyDiff/mergely.min.js"></script>

<script class="render_js" src="__PLUGINS__/mergelyDiff/javascript.js"></script>
<script src="__PLUGINS__/mergelyDiff/mergelyDiff.js"></script>

<script> $("#Function_index").addClass("active"); </script>
</body>
</html>