<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>{$title}_觅友</title>
<meta name="keywords" content="留言，评论，觅友，觅友网，觅友博客，觅友小站，前端，miuu,IT开发，css，css3，js，js特效，php，jquery，ajax，java">
<meta name="description" content="觅友_有朋自远方来，分享自己网站开发学习以及工作和生活中的点点滴滴，希望通过此网站，与大家一起交流、成长、进步！">
<include file="Public:css" />
<include file="Public:aside_js" />
</head>
<body>
<include file="Public:header" />
<section class="focusbox">
    <div class="container">
        <h1 class="focusbox-title">留言</h1>
        <div class="focusbox-text">留下你的足迹,我在时光里等你!</div>
    </div>
</section>
<!--container start-->
<div class="content">
<div class="container space30">
    <div class="row">
        <!--feature start-->
        <div class="col-md-8">
            <div class="blog-comments">
                <!-- 如果您配置过sourceid，建议在div标签中配置sourceid、cid(分类id)，没有请忽略  -->
                <div id="cyEmoji" role="cylabs" data-use="emoji" sid="007"></div>

                <script type="text/javascript" charset="utf-8" src="https://changyan.itc.cn/js/lib/jquery.js"></script>
                <script type="text/javascript" charset="utf-8" src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cysUkdzlR"></script>
                <!-- 畅言评论框 start -->
                <div id="SOHUCS" sid="007"></div>
                <!-- 畅言评论框 end -->
            </div>
        </div>
        <div class="col-md-4 sidebar">
            <div class="widget widget-posts" >
                <h3>给我留言</h3>
                <div>
                喜欢就给我留言吧，希望与大家一起努力。这里是一堵墙，墙上记录着有你的那些时光！
                </div>
            </div>
            <div class="widget widget-posts clearfix">
                <div id="calendar"></div>
            </div>
            <div class="widget widget-posts" >
                <a href="#" target="_blank" rel="nofollow"><img src="http://7xsqlc.com1.z0.glb.clouddn.com/banner/small-5.jpg" class="full-img"></a>
            </div>
        </div>
        <!--feature end-->
    </div>
</div>
</div>
{/* footer */ }
<include file="Public:footer" />
<include file="Public:js" />
{/*日历*/}
<script src="__PLUGINS__/simple_calendar/js/simple-calendar-es6.js"></script>
<script src="__PLUGINS__/simple_calendar/js/simple-calendar-options.js"></script>
<!-- 畅言公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#Readers_index").addClass("active");
    });

    (function(){
        var appid = 'cysUkdzlR';
        var conf = 'prod_c9d3d122ccb6b50416fb79aa1d106c49';
        var width = window.innerWidth || document.documentElement.clientWidth;
        if (width < 960) {
            window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
<!-- 畅言公共JS代码 end -->
</body>
</html>
