<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>{$title}_觅友</title>
    <meta name="keywords" content="开发工具，代码演示，常用工具，觅友，觅友网，觅友博客，觅友小站，前端，miuu,IT开发，css，css3，js，js特效，php，jquery，ajax，java">
    <meta name="description" content="觅友_有朋自远方来，分享自己网站开发学习以及工作和生活中的点点滴滴，希望通过此网站，与大家一起交流、成长、进步！">
    <include file="Public:css" />
    <link rel="stylesheet" href="__PLUGINS__/showcode/showcode.css" />
    <link rel="stylesheet" href="__PLUGINS__/showcode/codemirror.min.css" />
    <include file="Public:aside_js" />
    <style>

    </style>
</head>

<body>

    <div class="wrapper wrapper-content clearfix">
        <div class="container" style="width:100%;height:100%; font-size:12px;">
            <div class="row" style="background-color: #f5f5f5;">
                <div class="panel panel-default" style="margin-bottom:0;">
                    <div class="panel-body" style="background-color: #f5f5f5;border-color: #f5f5f5;">
                        <form autocomplete="off" role="form">

                            <div class="col-sm-12" id="RightPane">
                                <label>
                                    <strong style="font-size: 16px;color:#f25f5b;">
                                        运行结果：
                                    </strong>
                                </label>
                                <div id="iframewrapper">
                                </div>
                            </div>
                            <div class="col-sm-12" id="LeftPane">
                                <div class="row-fluid">
                                    <label class="inline">
                                        <strong style="font-size: 16px;color:#f25f5b;">
                                            编辑您的代码:
                                        </strong>
                                    </label>
                                    <label class="pull-right">
                                        <a href="http://www.miuu.club" style="font-size: 14px;color:#45B6F7;text-decoration: underline;">
                                            返回米鱼博客
                                        </a>
                                    </label>
                                </div>
                                <textarea class="form-control" id="textareaCode" name="textareaCode"></textarea>
                            </div>
                            <div class="col-md-24">
                                <div class="pull-right">
                                    <input id="submitBTN" onclick="submitTryit()" type="button" class="btn btn-small btn-success code-submit pull-left" value="提交运行 »">
                                    <input type="hidden" id="bt" name="bt">
                                    <input type="hidden" name="code" id="code">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <script type="text/javascript" src="__PLUGINS__/showcode/codemirror.min.js"></script>
    <script type="text/javascript" src="__PLUGINS__/showcode/htmlmixed.js"></script>
    <script type="text/javascript" src="__PLUGINS__/showcode/css.js"></script>
    <script type="text/javascript" src="__PLUGINS__/showcode/javascript.js"></script>
    <script type="text/javascript" src="__PLUGINS__/showcode/xml.js"></script>
    <script type="text/javascript" src="__PLUGINS__/showcode/closetag.js"></script>
    <script type="text/javascript" src="__PLUGINS__/showcode/closebrackets.js"></script>
    <script type="text/javascript" src="__PLUGINS__/showcode/showcode.js"></script>
</body>

</html>