<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>{$title}_觅友</title>
<meta name="keywords" content="开发工具，常用工具，觅友，觅友网，觅友博客，觅友小站，前端，miuu,IT开发，css，css3，js，js特效，php，jquery，ajax，java,休闲游戏">
<meta name="description" content="觅友_有朋自远方来，分享自己网站开发学习以及工作和生活中的点点滴滴，希望通过此网站，与大家一起交流、成长、进步！">
<include file="Public:css" />
<include file="Public:aside_js" />
</head>
<body>
<include file="Public:header" />

<!-- revolution slider start -->
<section class="focusbox">
    <div class="container">
        <h1 class="focusbox-title">小工具</h1>
        <div class="focusbox-text">常言道:工欲善其事必先利器。好工具是让编程更轻松更顺利的保障,当然，适当休闲娱乐也是必不可少滴！</div>
    </div>
</section>

<!--container start-->
<div class="content">
<div class="container space30">
    <div class="row">
        <!--feature start-->
        <div class="col-md-8 wow fadeInLeft animated animated">
            <div class="table-responsive">
            <table class="table table-bordered table-tools tbox">
                <tr>
                    <td>
                        <h4>代码比较工具</h4>
                        <p>可实现代码对比演示功能（推荐）</p>
                        <a class="btn btn-sm btn-default" href="{:U('Tools/mergely')}">查看演示</a>
                    </td>
                    <td>
                        <h4>代码演示工具</h4>
                        <p>可实现代码实时演示功能</p>
                        <a class="btn btn-sm btn-default" href="{:U('Tools/showcode')}">查看演示</a>
                    </td>
                    <td>
                        <h4>JS/HTML格式化工具</h4>
                        <p>简单易用的JS/HTML格式化工具</p>
                        <a class="btn btn-sm btn-default" href="{:U('Tools/jsformat')}">查看演示</a>
                    </td>
                    <td>
                        <h4>CSS代码格式化工具</h4>
                    <p>可实现CSS代码格式化和CSS在线压缩</p>
                    <a class="btn btn-sm btn-default" href="{:U('Tools/cssformat')}">查看演示</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>中国象棋</h4>
                        <p>一款给力的jquery象棋游戏，闲时消遣</p>
                        <a class="btn btn-sm btn-default" href="__APP__/Public/Home/game/chess/chess.html" target="_blank">查看演示</a>
                    </td>
                    <td>
                        <h4>打地鼠</h4>
                        <p>打地鼠啊打地鼠，一不小心打到小白兔。。。</p>
                        <a class="btn btn-sm btn-default" href="__APP__/Public/Home/game/mouseHit/index.html" target="_blank">查看演示</a>
                    </td>
                    <td>
                        <h4>五子棋</h4>
                        <p>锻炼智力就靠它了！</p>
                        <a class="btn btn-sm btn-default" href="__APP__/Public/Home/game/gobang/index.html" target="_blank">查看演示</a>
                    </td>
                    <td>
                        <h4>动物棋</h4>
                        <p>两只老鼠打架，两败俱伤啦</p>
                        <a class="btn btn-sm btn-default" href="__APP__/Public/Home/game/animalchess/index.html" target="_blank">查看演示</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>水果忍者</h4>
                        <p>经典游戏模仿秀，小心炸弹！</p>
                        <a class="btn btn-sm btn-default" href="__APP__/Public/Home/game/ninjia/index.html" target="_blank">查看演示</a>
                    </td>
                    <td>
                        <h4>青苹果打字</h4>
                        <p>打字游戏，获取青苹果！</p>
                        <a class="btn btn-sm btn-default" href="__APP__/Public/Home/game/typing/index.html" target="_blank">查看演示</a>
                    </td>
                    <td>
                        <h4>2048军旗</h4>
                        <p>2048军旗游戏，很好玩的休闲游戏</p>
                        <a class="btn btn-sm btn-default" href="__APP__/Public/Home/game/2048/index.html" target="_blank">查看演示</a>
                    </td>
                    <td>
                        <h4>经典台球</h4>
                        <p>简单的台球小游戏，陶冶情操</p>
                        <a class="btn btn-sm btn-default" href="__APP__/Public/Home/game/billiards/index.html" target="_blank">查看演示</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>拼图</h4>
                        <p>12种模型的拼图，快来体验吧</p>
                        <a class="btn btn-sm btn-default" href="__APP__/Public/Home/game/jigsaw/index.html" target="_blank">查看演示</a>
                    </td>
                    <td>
                        <h4>3D魔方</h4>
                        <p>锻炼空间思维能力,增强记忆能力和反应力</p>
                        <a class="btn btn-sm btn-default" href="__APP__/Public/Home/game/cube/index.html" target="_blank">查看演示</a>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
            </div>
        </div>
        <div class="col-md-4 sidebar wow fadeInRight animated animated">
            <div class="widget widget-posts clearfix">
                <div id="calendar"></div>
            </div>
            <div class="widget widget-posts">
                <a href="#" target="_blank" rel="nofollow"><img src="http://7xsqlc.com1.z0.glb.clouddn.com/banner/small-5.jpg" class="full-img"></a>
            </div>
            <div class="widget widget-posts" >
                <a href="#" target="_blank" rel="nofollow"><img src="http://7xsqlc.com1.z0.glb.clouddn.com/banner/small-1.jpg" class="full-img"></a>
            </div>
        </div>
        <!--feature end-->
    </div>
</div>
</div>

<include file="Public:footer" />
<include file="Public:js" />
{/*日历*/}
<script src="__PLUGINS__/simple_calendar/js/simple-calendar-es6.js"></script>
<script src="__PLUGINS__/simple_calendar/js/simple-calendar-options.js"></script>

<script>
$(function(){
    $("#tools_index").addClass("active");
    $("#Function_index").addClass("active");
});
</script>
</body>
</html>
