/* =Main
-------------------------------------------------------------- */
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.article {
    .title {
        margin-bottom: 10px;
        overflow: hidden;
    }
    .title h3 {
        float: left;
        margin: 0;
        font-size: 20px;
    }
}
.excerpt {
    padding: 20px;
    border: 1px solid #eaeaea;
    border-bottom: none;
    background-color: #fff;
    overflow: hidden;
    .nail img{
        width: 100%;
        max-height: 150px;
    }
    .cat {
        color: #fff;
        background-color: #45BCF9;
        padding: 3px 6px;
        font-size: 12px;
        display: inline-block;
        position: relative;
        top: -2px;
        margin-right: 6px;
    }
    .cat i {
        position: absolute;
        top: 50%;
        margin-top: -4px;
        right: -4px;
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-left: 4px solid #45BCF9;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }
    .title {
        display: inline;
        font-size: 18px;
        line-height: 24px;
    }
    .meta {
        margin-top: 7px;
        color: #999;
        font-family: "Microsoft Yahei";
        font-size: 12px;
    }
    .meta .author {
        font-size: 12px;
    }
    .icon {
      margin-right: 4px;
      vertical-align: middle;
      color: #aaa;
    }
    .note {
        font-size: 13px;
        color: #999;
        word-wrap: break-word;
        line-height: 20px;
        margin:0;
    }
}

.blog {
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    border-bottom: none;
    overflow: hidden;
    header {
        margin-bottom: 10px;
    }
    .item {
        display: block;
        float: left;
        width: 25%;
        margin-bottom: 6px;
    }
    .cat {
        color: #fff;
        background-color: #45BCF9;
        padding: 3px 6px;
        font-size: 12px;
        display: inline-block;
        position: relative;
        top: -2px;
        margin-right: 6px;
    }
    .cat i {
        position: absolute;
        top: 50%;
        margin-top: -4px;
        right: -4px;
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-left: 4px solid #45BCF9;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }
    .thumb-span {
        margin-right: 6px;
        display: block;
    }
    .thumb-span img{
        width: 100%;
        max-height: 125px;
    }
    .mend {
        position: relative;
        margin: 10px -6px 5px 0;
        overflow: hidden;
    }
    .title {
        display: inline;
        font-size: 18px;
        line-height: 24px;
    }
    .meta {
        margin: 7px 0 0;
        color: #999;
        font-family: "Microsoft Yahei";
        font-size: 12px;
    }
    .icon {
        margin-right: 4px;
        vertical-align: middle;
        color: #aaa;
    }
    .note {
        font-size: 12px;
        color: #999;
        word-wrap: break-word;
        line-height: 20px;
        margin:0;
    }
}
.last-child {
    border-bottom: 1px solid #eaeaea;
}


.blog-title {
    margin-top: 0;
    font-size: 18px;
    line-height: 1.5;
}
.blog-desc {
    font-size: 13px;
    color: #999;
    word-wrap: break-word;
    line-height: 20px;
    margin: 0;
}