<div id="error">...</div>
<div id="loading">...</div>
<div class="footer">
	<div class="box">
		<div class="col_box">
			<div class="col c1">
				<h2>
					<span>
						最新推荐
					</span>
				</h2>
				<a href="#">
					<img src="__PUBLIC__/Home/img/gallery_1.jpg" width="58" height="58" alt="pix">
				</a>
				<a href="#">
					<img src="__PUBLIC__/Home/img/gallery_2.jpg" width="58" height="58" alt="pix">
				</a>
				<a href="#">
					<img src="__PUBLIC__/Home/img/gallery_3.jpg" width="58" height="58" alt="pix">
				</a>
				<a href="#">
					<img src="__PUBLIC__/Home/img/gallery_4.jpg" width="58" height="58" alt="pix">
				</a>
				<a href="#">
					<img src="__PUBLIC__/Home/img/gallery_5.jpg" width="58" height="58" alt="pix">
				</a>
				<a href="#">
					<img src="__PUBLIC__/Home/img/gallery_6.jpg" width="58" height="58" alt="pix">
				</a>
			</div>
			<div class="col c2">
				<h2>
					<span>
						联系我
					</span>
				</h2>
				<p>
					看时光飞逝我祈祷明天 每个小小梦想，能够慢慢地实现 我是如此平凡，却又如此幸运 我要说声谢谢你 在我生命中的每一天
					<br>
					<a href="#">
						+(86) 159-021-53253
					</a>
				</p>
				<p class="mt10">本网站仅供技术交流学习使用</p>
			</div>
		</div>
		<div class="service">
			<h2>其他</h2>
			<ul>
				<li>给我留言</li>
				<li>免责声明</li>
				<li><a href="{:U('Order/index')}">我的订单</a></li>
				<li class="line"><a href="{:U('User/index')}">我的杂货铺</a></li>
				<li class="line"><a href="{:U('Order/index')}">我的货物</a></li>
				<li class="line"><a href="{:U('Cart/index')}">我的板车</a></li>
			</ul>
		</div>	
	</div>
</div>
<script src="/shop/Public/Home/js/slideBox.js"></script>
<script>
	slideBox("#hot",5000);  //焦点图切换
</script>