<meta charset="UTF-8">
<title>微博系统--我的首页</title>
<link rel="stylesheet" href="__CSS__/jquery.ui.css">
<link rel="stylesheet" href="__CSS__/base.css">
<link rel="stylesheet" href="__CSS__/style.css">
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/jquery.ui.js"></script>
<script type="text/javascript" src="__JS__/base.js"></script>
<script type="text/javascript">
var ThinkPHP = {
	'MODULE' : '/shop/Home',
	'ROOT' : '/shop',
	'IMG' : '/shop/Public/Home/img',
	'FACE' : '/shop/Public/Home/face',
	'UPLOADIFY' : '/shop/Public/Home/uploadify',
	'UPLOADER' : '/shop/File/upload.html',
	'INDEX' : '/shop/Index/index.html',
} 
</script>
<block name="head"></block>

<?php
$IMG_URL = 'http://7xsqlc.com1.z0.glb.clouddn.com/';
$IMG_THUMB = '?imageView2/1/w/100/h/100';
$IMG_BIG_W = '?imageView2/2/w/840';
$IMG_BIG_H = '?imageView2/2/h/300';
$IMG_BIG_WI = '?imageView2/2/w/840/interlace/1';
$IMG_BIG_HI = '?imageView2/2/h/300/interlace/1';
?>