<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<block name="title"><title>标题</title></block>
<block name="keywords"><meta name="keywords" content="关键词"></block>
<block name="description"><meta name="description" content="描述"></block>
<!--[if lt IE 9]><meta http-equiv="refresh" content="0;ie.html" /><![endif]-->
<block name="css">通用css</block>
<block name="web_css">页面css</block>
<block name="aside_js">兼容js</block>
</head>
<body>
<block name="header">头部</block>
<block name="main">主内容</block>
<block name="footer">底部</block>
<block name="js">通用js</block>
<block name="web_js">页面js</block>
</body>
</html>