/*
* @Author: MIUu
* @Date:   2017-01-09 11:42:37
* @Last Modified by:   MIUu
* @Last Modified time: 2017-01-12 17:09:47
*/
 @keyframes pageup {
    0% {    background-position: 0 1.2rem;    opacity: 0;}
    50% {   background-position: 0 .6rem;    opacity: 1;}
    100% {  background-position: 0 0;    opacity: 0;}
}
@-moz-keyframes pageup {
    0% {    background-position: 0 1.2rem;    opacity: 0;}
    50% {   background-position: 0 .6rem;    opacity: 1;}
    100% {   background-position: 0 0;    opacity: 0;}
}
@-webkit-keyframes pageup {
    0% {    background-position: 0 1.2rem;    opacity: 0;}
    50% {   background-position: 0 .6rem;    opacity: 1;}
    100% {   background-position: 0 0;    opacity: 0;}
}
.slog-down {
    position: absolute;
    bottom: .75rem;
    top: auto;
    width: 2.5rem;
    height: 3rem;
    margin-top: auto;
    left: 50%;
    margin-left: -0.75rem;
    background-image: url(../img/page_up.png);
    background-size: 1.5rem 2rem;
    background-repeat: no-repeat;
    z-index: 100;
    animation: pageup 1s ease 0s infinite normal;
    -moz-animation: pageup 1s ease 0s infinite normal;
    -webkit-animation: pageup 1s ease 0s infinite normal;
}


.section-index {
    background: url('../img/down-bg.jpg') no-repeat;
    background-size: 100% 100%!important;
}
.section-index-up {
    background: url('../img/index-bg.png') no-repeat;
    background-size:cover;
    background-position:center;
}
.section-one {
    background: url('../img/page-1.png') no-repeat;
    background-size:cover;
    background-position:center;
}
.section-two {
    background: url('../img/page-2.png') no-repeat;
    background-size:cover;
    background-position:center;
}
.section-three {
    background: url('../img/page-3.png') no-repeat;
    background-size:cover;
    background-position:center;
}
.section-one1 {
    background: url('../img/tu-1.png') no-repeat;
    background-size:cover;
    background-position:center;
}
.section-two2 {
    background: url('../img/tu-2.png') no-repeat;
    background-size:cover;
    background-position:center;
}
.section-three3 {
    background: url('../img/tu-3.png') no-repeat;
    background-size:cover;
    background-position:center;
}
.down-content {
    margin-top: 13rem;
}
.down-section {
    margin-top: 1.5rem;
    text-align: center;
}
.down-section > h2 {
    font-weight: normal;
    font-size: .6rem;
    line-height: 1.2rem;
    color: #171717;
}
.invest-log {
    margin-top: 1rem;
}
.invest-log img {
    width: 98px;
}
.invest-title {
    margin-top: 1rem;
}
.invest-title img {
    width: 183px;
}
.invest-title p {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    letter-spacing: 0.55rem;
}
.down-list {
    text-align: center;
    padding: 0 2rem;
}
.down-btn {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.down-btn span {
    display: inline-block;
    font-size: 0.75rem;
    color: #333;
}
.down-btn img {
    vertical-align:middle;
    width: 19px;
    margin-right: 10px;
}
.andr-icon {
    margin-top: 0;
}
.tip-text {
    padding-left: 1rem;
    font-size: 0.65rem;
    background: url('../img/question.png') no-repeat;
    background-size: 14px;
}
.slog {
    text-align: center;
}
.slog img {
    width: 209px;
}
.slog p {
    margin-top: 0.3rem;
    text-align: center;
    font-size: 0.6rem;
    color: #fff;
}
.slog p span.red {
    color: #f15121;
}
.slog p span.green {
    color: #7fba00;
}
.slog p span.blue {
    color: #00a3e0;
}
.slog p span.yellow {
    color: #ffb901;
}
.modal-down {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10600;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    -webkit-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    transition-duration: 400ms;
    visibility: visible;
    opacity: 1;
}
.browser-tip img {
    width: 280px;
    height: 184px;
}
#showModal {
    display: none;
}
