<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>{$title}_觅友</title>
    <meta name="keywords" content="{$notes.keywords}">
    <meta name="description" content="{$notes.desc}">
    <include file="Public:css" />
    <link rel="stylesheet" href="__CSS__/index.css" />
    <link rel="stylesheet" href="__PLUGINS__/tocify/tocify.css" />
    <link rel="stylesheet" href="__PLUGINS__/prettify/prettify.css" />
    <link rel="stylesheet" href="__PLUGINS__/codemirror/codemirror.css" />
    <link rel="stylesheet" href="__PLUGINS__/codemirror/ambiance.css" />
    <include file="Public:aside_js" />
</head>

<body>
    <include file="Public:header" />
    <!-- revolution slider start -->
    <div class="focusbox">
        <div class="container">
            <h1 class="focusbox-title">我在路上</h1>
            <div class="focusbox-text">行在路上，品味生活，我的人生在路上！</div>
        </div>
    </div>
    <!--container start-->
    <div class="content">
        <div class="container space30">
            <div class="row">
                <div class="col-md-17 single">
                    <div class="blog-detail">
                        <header class="detail-head">
                            <h1 class="title">
                                {$notes.name}
                            </h1>
                            <div class="meta">
                                <span class="item">{$notes.add_time}</span>
                                <span class="item">阅读量：{$notes.click}</span>
                                <span class="item">评论量：
                                    <a href="#SOHUCS">
                                        <span id="changyan_count_unit"></span>
                                    </a>
                                </span>
                            </div>
                        </header>
                        <div class="detail-desc">
                            <strong>摘要：</strong>{$notes.desc}</div>
                        <article class="blog-content article-content">
                            <notempty name="notes.thumb">
                                <p class="text-center">
                                    <img class="alignnone size-full wp-image-74" alt="{$notes.name}" src="{$notes.thumb}">
                                </p>
                                <else/>
                            </notempty>
                            {$notes.content}
                            <notempty name="notes.code">
                                <p>
                                    <textarea name="code" id="code" class="hide">{$notes.code}</textarea>
                                    <pre>{$notes.code}</pre>
                                    <button class="btn btn-sm btn-default mt15" onclick="Preview(code)">运行代码</button>
                                </p>
                                <else/>
                            </notempty>
                        </article>
                        <p class="post-copyright">本文属原创，转载请注明出处：
                            <foreach name="path" item="v">
                                &nbsp;
                                <a href="{:U('Notes/index',array('cid'=>$v['id']))}">
                                    {$v.name}
                                </a>
                                &nbsp;&gt;
                            </foreach>
                            &nbsp;{$notes.name}</p>
                        <div class="share-single">
                            <div class="action-share bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1474380922803">
                                分享到：
                                <a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                <a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                <a class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                <a class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                <a class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                                <a class="bds_bdhome" data-cmd="bdhome" title="分享到百度新首页"></a>
                                <a class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a>
                                <a class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                <a class="bds_diandian" data-cmd="diandian" title="分享到点点网"></a>
                                <a class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
                                <a class="bds_ty" data-cmd="ty" title="分享到天涯社区"></a>
                                <a class="bds_kaixin001" data-cmd="kaixin001" title="分享到开心网"></a>
                                <a class="bds_taobao" data-cmd="taobao"></a>
                                <a class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
                                <a class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
                                <a class="bds_twi" data-cmd="twi" title="分享到Twitter"></a>
                                <a class="bds_mail" data-cmd="mail" title="分享到邮件分享"></a>
                                <a class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
                                <a class="bds_more" data-cmd="more">更多</a>
                                (
                                <a class="bds_count" data-cmd="count" title="累计分享0次">0</a>)
                            </div>
                            <script>
                                window._bd_share_config = {
                                    common: {
                                        "bdText": "",
                                        "bdMini": "2",
                                        "bdMiniList": false,
                                        "bdPic": "",
                                        "bdStyle": "0"
                                    },
                                    share: [{
                                        bdCustomStyle: "http://7xsqlc.com1.z0.glb.clouddn.com/css/share.css"
                                    }]
                                }
                                with(document) 0[(getElementsByTagName("head")[0] || body).appendChild(createElement(
                                        "script")).src =
                                    "http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=" + ~(-new Date() /
                                        36e5)];
                            </script>
                        </div>
                        <ul class="pager clearfix">
                            <empty name="prev">
                                <else/>
                                <li class="previous">
                                    <a title="{$prev.name}" href="{:U('Notes/notes',array('id'=>$prev['id']))}" data-toggle="tooltip" data-original-title="{$prev.name}">上一篇</a>
                                </li>
                            </empty>
                            <empty name="next">
                                <else/>
                                <li class="next">
                                    <a title="{$next.name}" href="{:U('Notes/notes',array('id'=>$next['id']))}" data-toggle="tooltip" data-original-title="{$next.name}">下一篇</a>
                                </li>
                            </empty>
                        </ul>
                        <div class="relates">
                            <h3>推荐相关：</h3>
                            <ul>
                                <foreach name="latest.data" item="v">
                                    <li>
                                        <a href="{:U('Notes/notes',array('id'=>$v['id']))}">{$v.name}</a>
                                        <time>{$v.add_time}</time>
                                    </li>
                                </foreach>
                            </ul>
                        </div>
                    </div>

                    <div class="blog-comments mtop15">
                        <!-- 畅言评论框 start -->
                        <div id="SOHUCS" sid="004{$notes.id}"></div>
                        <!-- 畅言评论框 end -->
                    </div>
                </div>
                <div class="col-md-7 sidebar">
                    <div class="widget widget-posts">
                        <h3>最新推荐</h3>
                        <ul>
                            <foreach name="latest.data" item="v">
                                <li class="widget-post-item">
                                    <a target="_blank" href="{:U('Notes/notes',array('id'=>$v['id']))}">
                                        <div class="img-box">
                                            <notempty name="v.thumb">
                                                <img class="thumb" src="{$v.thumb}" alt="{$v.name}">
                                                <else/>
                                            </notempty>
                                        </div>
                                        <div class="info-box">
                                            <div class="info-box-inner">
                                                <span class="text font15">
                                                    {$v.name}
                                                </span>
                                                <div class="tips">
                                                    <span class="muted left">{$v.add_time}</span>
                                                    <span class="muted right">阅读（{$v.click}）</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </foreach>
                        </ul>
                    </div>
                    <div class="widget widget-posts">
                        <a href="#" target="_blank" rel="nofollow">
                            <img src="http://7xsqlc.com1.z0.glb.clouddn.com/banner/small-4.jpg" class="full-img">
                        </a>
                    </div>
                    <div class="widget widget-posts clearfix">
                        <div id="calendar"></div>
                    </div>
                    <div class="widget widget-posts">
                        <a href="#" target="_blank" rel="nofollow">
                            <img src="http://7xsqlc.com1.z0.glb.clouddn.com/banner/small-6.jpg" class="full-img">
                        </a>
                    </div>
                    <div id="tocMenu" class="tocify"></div>

                </div>
                <!--feature end-->
            </div>
        </div>
    </div>
    <include file="Public:footer" />
    <include file="Public:js" />
    <include file="Public:layui_showcode" />
    <script src="__JS__/jquery-ui-1.9.1.custom.min.js"></script>
    <script src="__PLUGINS__/tocify/jquery.tocify.min.js"></script>
    <script src="__PLUGINS__/prettify/prettify.js"></script>

    {/*日历*/}
    <script src="__PLUGINS__/simple_calendar/js/simple-calendar-es6.js"></script>
    <script src="__PLUGINS__/simple_calendar/js/simple-calendar-options.js"></script>
    <script src="__PLUGINS__/zeroclipboard/ZeroCilpdocs.js"></script>
    <script src="__PLUGINS__/zeroclipboard/ZeroClipboard.js"></script>
    <script>
        { /*复制剪贴板*/ }
        $(function () {
            var client = new ZeroClipboard($(".btn-clipboard"));

            client.on("ready", function (readyEvent) {
                // alert( "ZeroClipboard SWF is ready!" );
                client.on('copy', function (event) {
                    var code = $(event.target).parent().next().find('.layui-code-ol').text();
                    event.clipboardData.setData('text/plain', code);
                });
                client.on("aftercopy", function (event) {
                    // `this` === `client`
                    // `event.target` === the element that was clicked
                    layer.msg('恭喜您，成功复制代码！', {
                        time: 1000
                    });
                });
            });
            client.on('error', function (event) {
                console.log('ZeroClipboard error of type "' + event.name + '": ' + event.message);
                ZeroClipboard.destroy();
            });

            //toc 菜单
            var toc = $("#tocMenu").tocify({
                selectors: "h2,h4,h5"
            }).data("toc-tocify");
            var ct = !1;
            var widget_width = $(".widget").width();
            $(window).bind("scroll", function () {
                var stp = $(document).scrollTop(); //取到当前下拉往下滚的高度
                ct = ct ? ct : $("#tocMenu").offset().top; //获取的菜单到头部的高度
                // document.title=ct;
                var toc = $("#tocMenu");
                if (ct < stp) {
                    toc.addClass('tocify-fixed')
                    toc.width(widget_width)
                } else {
                    toc.removeClass('tocify-fixed')
                }
            });

            prettyPrint();

        })
    </script>


    <script type="text/javascript" src="http://assets.changyan.sohu.com/upload/plugins/plugins.count.js">
    </script>
    <!-- 畅言公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        (function () {
            var appid = 'cysUkdzlR';
            var conf = 'prod_c9d3d122ccb6b50416fb79aa1d106c49';
            var width = window.innerWidth || document.documentElement.clientWidth;
            if (width < 960) {
                window.document.write(
                    '<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' +
                    appid + '&conf=' + conf + '"><\/script>');
            } else {
                var loadJs = function (d, a) {
                    var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement;
                    var b = document.createElement("script");
                    b.setAttribute("type", "text/javascript");
                    b.setAttribute("charset", "UTF-8");
                    b.setAttribute("src", d);
                    if (typeof a === "function") {
                        if (window.attachEvent) {
                            b.onreadystatechange = function () {
                                var e = b.readyState;
                                if (e === "loaded" || e === "complete") {
                                    b.onreadystatechange = null;
                                    a()
                                }
                            }
                        } else {
                            b.onload = a
                        }
                    }
                    c.appendChild(b)
                };
                loadJs("https://changyan.sohu.com/upload/changyan.js", function () {
                    window.changyan.api.config({
                        appid: appid,
                        conf: conf
                    })
                });
            }
        })();
    </script>
    <!-- 畅言公共JS代码 end -->

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?ced2bfdf081a8c7f45add898cecdacc2";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

        $(document).ready(function () {
            $("#Notes_index").addClass("active");

        });

        //运行文本域代码
        function Preview(obj) {
            var TestWin = window.open('', '', ''); //打开一个窗口并赋给变量TestWin。
            TestWin.opener = null // 防止代码对论谈页面修改
            TestWin.document.write(obj.value); //向这个打开的窗口中写入代码code，这样就实现了运行代码功能。
            TestWin.document.close();
        };
    </script>
</body>

</html>