<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
<!--[if lt IE 9]>
<script src="__JS__/html5shiv.js"></script>
<script src="__JS__/respond.min.js"></script>
<![endif]-->
<?php
$IMG_URL = 'http://7xsqlc.com1.z0.glb.clouddn.com/';
$IMG_THUMB = '?imageView2/1/w/100/h/100';
$IMG_BIG_W = '?imageView2/2/w/840';
$IMG_BIG_H = '?imageView2/2/h/300';
$IMG_BIG_WI = '?imageView2/2/w/840/interlace/1';
$IMG_BIG_HI = '?imageView2/2/h/300/interlace/1';
$IMG_SMALL_165 = '?imageView2/2/w/165';
?>