<link rel="shortcut icon" href="__IMG__/favicon.png">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="__CSS__/bootstrap.css" />
<link rel="stylesheet" href="__CSS__/bootstrap-reset.css" />
<link rel="stylesheet" href="__PUBLIC__/Home/fonts_music/fontCss.css" />

<link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css" />

<!--external css-->
<link rel="stylesheet" href="__PUBLIC__/Home/assets/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="__PUBLIC__/Home/assets/bxslider/jquery.bxslider.css" />

<link rel="stylesheet" href="__PUBLIC__/Home/assets/revolution_slider/css/rs-style.css" media="screen" />
<link rel="stylesheet" href="__PUBLIC__/Home/assets/revolution_slider/rs-plugin/css/settings.css" media="screen" />

<!-- Custom styles for this template -->
<link rel="stylesheet" href="__CSS__/style.css" />
<link rel="stylesheet" href="__CSS__/style-responsive.css" />

<link rel="stylesheet" href="__CSS__/kissui.css" />
<link rel="stylesheet" href="__CSS__/scrollanim.min.css" />

<link rel="stylesheet" href="__CSS__/swiper.min.css" />
<link rel="stylesheet" href="__CSS__/animate.css" />
<link rel="stylesheet" href="__CSS__/music.css" />

<link rel="stylesheet" href="__PLUGINS__/layui/css/layui.css" />
{/*日历*/}
<link rel="stylesheet" type="text/css" href="__PLUGINS__/simple_calendar/css/simple-calendar.css">
