<!--header start-->
<header class="header-frontend">
    <div class="navbar navbar-default navbar-static-top" id="J_m_nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="__APP__">MI<span>Uu</span></a>
            </div>

            <div class="navbar-collapse collapse ">
                <div class="newsticker">
                    <div class="horn"><i class="miuu u-shengyin"></i></div>
                    <ul class="newsticker-list">
                        <li class="newsticker-item">
                            本站内容纯属虚构，如有雷同，算我抄你!
                        </li>
                        <li class="newsticker-item">
                            觅友博客V2.0.2进行时，希望大家喜欢。
                        </li>
                        <li class="newsticker-item">
                            换了阿里云服务器，网站整体速度快多了。
                        </li>
                        <li class="newsticker-item">
                            文章内容如有侵权，请联系站长删除！
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav" id="menu">
                    <li id="Index_index"><a href="{:U('Index/index')}">首页</a></li>
                    <li id="Blog_index"><a href="{:U('Blog/index')}">技术文摘</a></li>
                    <li id="Notes_index"><a href="{:U('Notes/index')}">我在路上</a></li>
                    <li id="Essay_index"><a href="{:U('Essay/index')}">美文分享</a></li>
                    <li id="history_index"><a href="{:U('History/index')}">历史的今天</a></li>
                    <li id="news_index"><a href="{:U('News/index')}">小段子</a></li>
                    <li class="dropdown" id="function_index">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">应用 <i class="miuu u-xiala"></i></a>
                        <ul class="dropdown-menu">
                            <li id="tools_index"><a href="{:U('Tools/tools')}">工具箱</a></li>
                            <li id="nav_index"><a href="{:U('Tools/nav')}">日常导航</a></li>
                            <li id="down_index"><a href="{:U('Down/index')}">常用软件</a></li>
                            <li id="document_index"><a href="{:U('Document/index')}">学习文档</a></li>
                            <li id="web_index"><a href="{:U('Other/webseo')}">全站搜索</a></li>
                        </ul>
                    </li>
                    <li id="Readers_index"><a href="{:U('Tools/readers')}">留言</a></li>
                    <li id="About_index"><a href="{:U('About/index')}">关于我</a></li>
                    <li class="hidden-xs " id="navbar-search">
                      <a href="#">
                        <i class="miuu u-search"></i>
                      </a>
                      <div class="hidden" id="navbar-search-box">
                        <div class="input-group">
                          <input type="text" class="form-control" id="keywords" placeholder="请输入关键词" autocomplete="off">
                          <span class="input-group-btn">
                            <button class="btn btn-danger searchbar" type="button">点我!</button>
                          </span>
                        </div>
                      </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
</header>
<!--header end-->
