<!-- //演示代码渲染，syntaxhighlighter太臃肿了，放弃不用，使用layui,简洁美观 -->
<script type="text/javascript" src="__PLUGINS__/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="__PLUGINS__/syntaxhighlighter/scripts/shBrushCss.js"></script>
<script type="text/javascript" src="__PLUGINS__/syntaxhighlighter/scripts/shBrushJava.js"></script>
<script type="text/javascript" src="__PLUGINS__/syntaxhighlighter/scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="__PLUGINS__/syntaxhighlighter/scripts/shBrushPhp.js"></script>
<script type="text/javascript" src="__PLUGINS__/syntaxhighlighter/scripts/shBrushRuby.js"></script>
<script type="text/javascript" src="__PLUGINS__/syntaxhighlighter/scripts/shBrushSql.js"></script>
<script type="text/javascript" src="__PLUGINS__/syntaxhighlighter/scripts/shBrushXml.js"></script>
<link type="text/css" rel="stylesheet" href="__PLUGINS__/syntaxhighlighter/styles/shCore.css"/>
<link type="text/css" rel="stylesheet" href="__PLUGINS__/syntaxhighlighter/styles/shThemeRDark.css"/>
<script type="text/javascript">
  SyntaxHighlighter.all();
</script>