<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>美文列表-觅友（MIUu）博客后台</title>

    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <include file="Public:nav" />
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" method="post" action="">
                            <div class="form-group">
                                <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="hidden-xs">
                            <a href="__APP__" class="J_menuItem" data-index="0"><i class="fa fa-desktop"></i> 回到前端首页</a>
                        </li>
                        <li class="dropdown hidden-xs">
                            <a class="right-sidebar-toggle" aria-expanded="false">
                                <i class="fa fa-tasks"></i> 主题
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="row  border-bottom  dashboard-header min-ht-550">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>美文列表</h5>
                            <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="top-button">
                                <h5>选择美文分类：</h5><select id="category" class="form-control">
                                    <option value="-1" >全部</option>
                                    <option value="0" <eq name="cid" value="0">selected</eq>>未分类</option>
                                    <foreach name="categoryessay" item="v">
                                        <option value="{$v.id}" <eq name="v.id" value="$cid">selected</eq>>{:str_repeat('— ',$v['level'])}{$v.name}</option>
                                    </foreach>
                                </select>
                                <div><h4>
                                <a href="{:U('Essay/add',array('cid'=>$cid))}" class="light">添加美文</a>
                                <a href="{:U('Categoryessay/add')}">添加分类</a>
                                </h4></div>
                            </div>
                            <div class="list full">
                                <table class="table">
                                    <tr><th>ID</th><th class="t1">美文分类</th><th>美文名称</th><th>作者</th><th >发布日期</th><th >上架</th><th>推荐</th><th>操作</th></tr>
                                    <foreach name="essay.data" item="v">
                                        <tr>
                                        <td>{$v.id}</td>
                                        <td class="t1">
                                            <empty name="v.category_id">
                                                <a href="{:U('Essay/index','cid=0')}">未分类</a>
                                            <else/>
                                                <a href="{:U('Essay/index',array('cid'=>$v['category_id']))}">{$v.categoryessay_name}</a>
                                            </empty>
                                        </td>
                                        <td>{$v.name}</td><td>{$v.author}</td><td>{$v.add_time}</td>
                                        <td><a href="#" class="act-onsale" data-id="{$v.id}" data-status="{$v.on_sale}"><eq name="v.on_sale" value="yes">是<else/>否</eq></a></td>
                                        <td><a href="#" class="act-recommend" data-id="{$v.id}" data-status="{$v.recommend}"><eq name="v.recommend" value="yes">是<else/>否</eq></a></td><td>
                                        <a href="{:U('Essay/edit',array('id'=>$v['id'],'cid'=>$v['category_id'],'p'=>$p))}">修改</a>　<a href="#" class="act-del" data-id="{$v.id}">删除</a></td></tr>
                                    </foreach>
                                </table>
                            </div>
                            <div class="pagelist">{$essay.pagelist}</div>
                        </div>
                    </div>
                </div>
                <form method="post" id="form">
                    <input type="hidden" name="id" id="target_id">
                    <input type="hidden" name="field" id="target_field">
                    <input type="hidden" name="status" id="target_status">
                </form>
            </div>
            <div class="footer">
                <div class="pull-left"><strong>现在时刻: </strong><span id="TimeShow"></span>
                </div>
                <div class="pull-right">&copy; 2015-2016 <a href="__APP__" target="_blank">MacUu's blog</a>
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
        <!--右侧边栏开始-->
        <div id="right-sidebar">
            <div class="sidebar-container">

                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="sidebar-title">
                            <h3> <i class="fa fa-comments-o"></i> 主题设置</h3>
                            <small><i class="fa fa-tim"></i> 你可以从这里选择和预览主题的布局和样式，这些设置会被保存在本地，下次打开的时候会直接应用这些设置。</small>
                        </div>
                        <div class="skin-setttings">
                            <div class="title">主题设置</div>
                            <div class="setings-item">
                                <span>收起左侧菜单</span>
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="collapsemenu">
                                        <label class="onoffswitch-label" for="collapsemenu">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="setings-item">
                                <span>固定顶部</span>

                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="fixednavbar" class="onoffswitch-checkbox" id="fixednavbar">
                                        <label class="onoffswitch-label" for="fixednavbar">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="setings-item">
                                <span>
                        固定宽度
                    </span>

                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="boxedlayout" class="onoffswitch-checkbox" id="boxedlayout">
                                        <label class="onoffswitch-label" for="boxedlayout">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="title">皮肤选择</div>
                            <div class="setings-item default-skin nb">
                                <span class="skin-name ">
                         <a href="#" class="s-skin-0">
                             默认皮肤
                         </a>
                    </span>
                            </div>
                            <div class="setings-item blue-skin nb">
                                <span class="skin-name ">
                        <a href="#" class="s-skin-1">
                            蓝色主题
                        </a>
                    </span>
                            </div>
                            <div class="setings-item yellow-skin nb">
                                <span class="skin-name ">
                        <a href="#" class="s-skin-3">
                            黄色/紫色主题
                        </a>
                    </span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--右侧边栏结束-->

    </div>
    <include file="Public/js" />
    <script>
        //下拉菜单跳转
        $("#category").change(function(){
            var url = "{:U('Essay/index',array('cid'=>'_ID_'))}";
            location.href = url.replace("_ID_",$(this).val());
        });
        //快捷操作
        function change_status(obj,field){
            $("#target_id").val(obj.attr("data-id"));
            $("#target_field").attr("value",field)
            $("#target_status").attr("value",(obj.attr("data-status")=="yes") ? "no" : "yes");
            $("#form").attr("action","{:U('Essay/change',array('p'=>$p,'cid'=>$cid))}").submit();
        }
        //快捷操作-推荐
        $(".act-recommend").click(function(){
            change_status($(this),'recommend');
        });
        //快捷操作-上架
        $(".act-onsale").click(function(){
            change_status($(this),'on_sale');
        });
        //快捷操作-删除
        $(".act-del").click(function(){
            if(confirm('确定要删除吗？')){
                $("#target_id").val($(this).attr("data-id"));
                $("#form").attr("action","{:U('Essay/del',array('p'=>$p,'cid'=>$cid))}").submit();
            }
        });
    </script>
</body>

</html>
