<extend name="Base/common" />
<block name="title"><title>购物车</title></block>
<block name="keywords"><meta name="keywords" content="觅友，觅友网，觅友博客，觅友小站，前端，miuu,IT开发，css，css3，js，js特效，php，jquery，ajax，java"></block>
<block name="description"><meta name="description" content="觅友_有朋自远方来，分享自己网站开发学习以及工作和生活中的点点滴滴，希望通过此网站，与大家一起交流、成长、进步！"></block>
<block name="css"><include file="Public:css" /></block>
<block name="web_css"><link rel="stylesheet" href="__PUBLIC__/home/css/cart.css"></block>
<block name="js"><include file="Public:js" /></block>
<block name="web_js">
</block>
<block name="header"><include file="Public:header" /></block>
<block name="main">
<div class="usercenter wrapper wrapper-content">
	<div class="container">
	<div class="row">
		<include file="User/_menu" />
		<div class="col-sm-9">
				<div class="col-sm-12">
		            <h4 class="text-muted">
		                我的购物车
		            </h4>
		            <hr>
		        </div>
				<div class="col-sm-12 col-xs-12 shopping-cart user-cart">
					<form method="post" action="{:U('Order/buy')}">
						<table class="shopcart table">
							<tr>
							<th><a href="#" class="checkAll">全选</a></th>
							<th>商品图片</th>
							<th>商品名称</th><th>单价(元)</th><th>数量</th><th>操作</th></tr>
							<foreach name="cart" item="v" key="k">
								<tr class="item">
								<td><input type="checkbox" name="buy[{$k}][id]" class="check" value="{$v.goods_id}" /></td>
								<td><a href="/?a=goods&id={$v.goods_id}"><img src="__PUBLIC__/Uploads/small/{$v.thumb}" ></a></td>
								<td><a href="/?a=goods&id={$v.goods_id}" target="_blank" class="bold">{$v.name}</a></td>
								<td><span class="item-price">{$v.price}</span></td>
								<td>
									<button class="setNum">-</button>
									<input name="buy[{$k}][num]" class="item-num" type="text" value="{$v.num}" />
									<button class="setNum">+</button>
								</td>
								<td><a href="{:U('Cart/del',array('id'=>$v['id']))}" />删除</a></td>
								</tr>
							</foreach>
							<tr class="act"><td class="center"><a href="#" class="checkAll">全选</a></td>
							<td colspan="5">
								共<span id="num"></span>件商品 总计：<span class="price">￥<span id="monery"></span></span>
								<input type="submit" value="提交订单" class="btn btn-info" />
							</td></tr>
						</table>
					</form>
				</div>
		</div>
	</div>
	</div>
</div>
<script>
(function(){
	var $check = $(".check");  //获取复选框对象
	var isCheckAll = false;    //当前是否全选
	$check.click(total);	   //单击复选框时更新总价格
	checkAll();				   //默认设为全选
	//全选、全不选
	$(".checkAll").click(checkAll);
	function checkAll(){
		isCheckAll = isCheckAll ? false : true;
		$check.prop("checked", isCheckAll);
		$check.attr("checked", isCheckAll);
		total();  //更新价格
	}
	//单击修改数量
	$(".setNum").click(function(){
		var $item = $(this).parent().find(".item-num");
		var act = $(this).text();
		var num = parseInt($item.val());
		var stock = 100;
		if (act === '-') {
			if (num === 1) return false;
			$item.val(num-1);
		}else if (act === '+') {
			if (num === stock) return false;
			$item.val(num+1);
		}
		total();
		return false;
	});
	//键盘修改数量
	$(".item-num").keyup(function(){
		var num = parseInt($(this).val());
		var stock = 100;
		if(num < 1){
			$(this).val(1);
		}else if(num > stock){
			$(this).val(stock);
		}
		total();
	});
	//计算总价
	function total() {
		var count = 0; //总数量
		var total = 0; //总价格
		//遍历勾选的商品
		$(".check:checked").each(function(){
			var $item = $(this).parents(".item");
			var price = parseFloat($item.find(".item-price").text());
			var num = parseInt($item.find(".item-num").val());
			count += num;
			total += price * num;
		});
		$("#monery").text(total.toFixed(2));
		$("#num").text(count);
	}
})();
</script>
</block>
<block name="footer"><include file="Public:footer" /></block>