<extend name="Base/common" />
<block name="head">
    <link rel="stylesheet" href="/shop/Public/Home/css/articles.css" />
</block>
<block name="main">
    <!-- Wrapper -->
    <div class="wrapper">
        <div class="main-services">
            <div class="container">
                <div class="row">
                    <div class="banner_groom col-sm-12">
                        <img src="__IMG__/banner_groom01.jpg" alt="">
                    </div>
                    <div class="col-sm-9">
                        <!-- Blog Post #1 -->
                        <div class="blog-content">
                            <header class="article-header">
                                <div class="now_cat">
                                    当前位置：
                                    <foreach name="path" item="v">
                                        &nbsp;
                                        <a href="{:U('Index/search',array('cid'=>$v['id']))}">
                                            {$v.name}
                                        </a>
                                        &nbsp;&gt;
                                    </foreach>
                                    &nbsp;{$articles.name}
                                </div>
                                <h3 class="article-title">
                                    {$articles.name}
                                </h3>
								<ul class="down_box">
									<li class="time">2016/04/21</li>
									<li class="read" id="pmViews">阅读（100）</li>
									<li class="comment">评论（20）</li>
									<li class="like">收藏（0）</li>
                                    <li class="author">作者：<a href="#">{$articles.author}</a></li>
								</ul>
                                <div class="article-meta">
                                    <span class="item">
                                        <a href="course" rel="category tag">
                                            {$v.category_name}
                                        </a>
                                    </span>
                                </div>
                            </header>
                            <article class="article-content">
                                <p class="article-desc">
                                    <strong>
                                        摘要：
                                    </strong>
                                    {$articles.summary}
                                </p>
                               
                                <p>
                                    {$articles.content}
                                </p>
								<p class="comment_meta">
									<strong>
                                        <a>
                                            {$articles.keywords}
                                        </a>
                                    </strong>
                                </p>
                            </article>
							 
                            <div class="xshare">
                                <span>
                                    分享到：
                                </span>
                                <a href="javascript:;" etap="share" data-share="weixin" class="share-weixin"
                                title="分享到微信">
                                    <i class="fa">
                                        
                                    </i>
                                </a>
                                <a href="" etap="share" data-share="weibo" class="share-weibo" title="分享到新浪微博">
                                    <i class="fa">
                                        
                                    </i>
                                </a>
                                <a href="" etap="share" data-share="qzone" class="share-qzone" title="分享到QQ空间">
                                    <i class="fa">
                                        
                                    </i>
                                </a>
                                <a href="" etap="share" data-share="qq" class="share-qq" title="分享到QQ好友">
                                    <i class="fa">
                                        
                                    </i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>
                                    最新评论
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <div>
                                    <div class="feed-activity-list">
                                        <div class="feed-element">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="__IMG__/a2.jpg">
                                            </a>
                                            <div class="media-body ">
                                                <strong>
                                                    颜文字君
                                                </strong>
                                                评论了
                                                <br>
                                                <small class="text-muted">
                                                    2014.11.8 12:22
                                                </small>
                                                <p>
                                                    【九部令人拍案叫绝的惊悚悬疑剧情佳作】如果你喜欢《迷雾》《致命ID》《电锯惊魂》《孤儿》《恐怖游轮》这些好片，那么接下来推荐的9部同类题材并同样出色的的电影，绝对不可错过哦~
                                                </p>
                                            </div>
                                        </div>
                                        <div class="feed-element">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="__IMG__/a2.jpg">
                                            </a>
                                            <div class="media-body ">
                                                <strong>
                                                    颜文字君
                                                </strong>
                                                评论了
                                                <br>
                                                <small class="text-muted">
                                                    2014.11.8 12:22
                                                </small>
                                                <p>
                                                    【九部令人拍案叫绝的惊悚悬疑剧情佳作】如果你喜欢《迷雾》《致命ID》《电锯惊魂》《孤儿》《恐怖游轮》这些好片，那么接下来推荐的9部同类题材并同样出色的的电影，绝对不可错过哦~
                                                </p>
                                            </div>
                                        </div>
                                        <div class="feed-element">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="__IMG__/a2.jpg">
                                            </a>
                                            <div class="media-body ">
                                                <strong>
                                                    颜文字君
                                                </strong>
                                                评论了
                                                <br>
                                                <small class="text-muted">
                                                    2014.11.8 12:22
                                                </small>
                                                <p>
                                                    【九部令人拍案叫绝的惊悚悬疑剧情佳作】如果你喜欢《迷雾》《致命ID》《电锯惊魂》《孤儿》《恐怖游轮》这些好片，那么接下来推荐的9部同类题材并同样出色的的电影，绝对不可错过哦~
                                                </p>
                                            </div>
                                        </div>
                                        <div class="feed-element">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="__IMG__/a2.jpg">
                                            </a>
                                            <div class="media-body ">
                                                <strong>
                                                    颜文字君
                                                </strong>
                                                评论了
                                                <br>
                                                <small class="text-muted">
                                                    2014.11.8 12:22
                                                </small>
                                                <p>
                                                    【九部令人拍案叫绝的惊悚悬疑剧情佳作】如果你喜欢《迷雾》《致命ID》《电锯惊魂》《孤儿》《恐怖游轮》这些好片，那么接下来推荐的9部同类题材并同样出色的的电影，绝对不可错过哦~
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-block m-t">
                                        <i class="fa fa-arrow-down">
                                        </i>
                                        加载更多
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget">
                            <a href="">
                                <img src="__IMG__/bootstrap_banner.jpg" alt="">
                            </a>
                        </div>
                        <br>
                        <!-- Search -->
                        <form role="form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="别憋坏，搜我吧">
                                        <span class="input-group-btn">
                                            <button class="btn btn-style btn-black btn-k btn-primary" type="button">
                                                <i class="fa fa-search">
                                                </i>
                                            </button>
                                        </span>
                                    </div>
                                    <!-- /input-group -->
                                </div>
                                <!-- /.col-lg-6 -->
                            </div>
                            <!-- /.row -->
                        </form>
                        <!-- Categories -->
						
                        <div class="article-tab">
                            <div class="panel-heading article_bg">
                                <strong>
                                    相关文章
                                </strong>
                            </div>
                            <div class="panel">
                                <div class="panel-body panel-body-border">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                最佳助攻！25款轻巧实用的SKETCH插件大合集
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                深入浅出学配色！带你重新全面认识色彩系列之紫色篇
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                平面设计和游戏设计区别
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                字体故事：字体结构重心设计思路
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                深入浅出学配色！带你重新全面认识色彩系列之紫色篇
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                用户体验人才和应聘(附讲座视频)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                想在手机上、被窝里获取设计教程、经验分享和各种意想不到的”福利”吗？
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel text-panel">
                            <div class="panel-heading">
                                <div class="panel-options">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="tabs_panels.html#tab-1" aria-expanded="true">最新文章</a>
                                        </li>
                                        <li class=""><a data-toggle="tab" href="tabs_panels.html#tab-2" aria-expanded="false">随机文章</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane active">
                                        <strong>快捷键让SublimeText在编文件快速在浏览器打开</strong>
                                        <p>在 Bootstrap 2 中，我们对框架中的某些关键部分增加了对移动设备友好的样式。而在 Bootstrap 3 中，我们重写了整个框架，使其一开始就是对移动设备友好的。</p>
                                    </div>
                                    <div id="tab-2" class="tab-pane">
                                        <strong>移动设备优先</strong>
                                        <p>也就是说，Bootstrap 是移动设备优先的。针对移动设备的样式融合进了框架的每个角落，而不是增加一个额外的文件。</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / .row -->
        </div>
        <!-- / .main-features -->
    </div>
    <!-- / .wrapper -->
    </div>
    </div>
    <script>
        $("#Index_index").addClass("active");
    </script>
</block>