<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>米鱼（MIUu）博客后台 - 回收站</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>回收站</h5>
                        <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    </div>
                    <div class="ibox-content">
                    	<p>相关操作：<a href="{:U('Articles/index')}" class="light">列表</a></p>
                        <table class="table table-over">
							<tr><th class="t1">分类</th><th>名称</th><th width="60">上架</th><th width="60">推荐</th><th width="120">操作</th></tr>
							<foreach name="goods.data" item="v">
								<tr><td class="t1">
									<empty name="v.category_id">未分类<else/>{$v.category_name}</empty>
								</td>
								<td>{$v.name}</td><td>{$v.stock}</td>
								<td><eq name="v.on_sale" value="yes">是<else/>否</eq></td>
								<td><eq name="v.recommend" value="yes">是<else/>否</eq></td><td>
								<a href="#" class="act-rec" data-id="{$v.id}">恢复</a>　<a href="#" class="act-del" data-id="{$v.id}">删除</a></td></tr>
							</foreach>
						</table>
						<div class="pagelist">{$goods.pagelist}</div>
						<form method="post" id="form">
							<input type="hidden" name="id" id="target_id">
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__JS__/jquery.min.js?v=2.1.4"></script>
    <script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
    <script src="__JS__/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__JS__/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__JS__/plugins/layer/layer.min.js"></script>
    <script src="__JS__/hplus.min.js?v=4.1.0"></script>
    <script src="__JS__/plugins/pace/pace.min.js"></script>
    <script src="__JS__/newmend.js"></script>
	<script>
		//彻底删除
		$(".act-del").click(function(){
			if(confirm('确定要彻底删除吗？')){
				$("#target_id").val($(this).attr("data-id"));
				$("#form").attr("action","{:U('Recycle/del',array('p'=>$p))}").submit();
			}
		});
		//恢复
		$(".act-rec").click(function(){
			$("#target_id").val($(this).attr("data-id"));
			$("#form").attr("action","{:U('Recycle/rec',array('p'=>$p))}").submit();
		});
	</script>
</body>
</html>