<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>文章存档</title>
<meta name="keywords" content="觅友，觅友网，觅友博客，觅友小站，前端，miuu,IT开发，css，css3，js，js特效，php，jquery，ajax，java">
<meta name="description" content="觅友，分享自己网站开发学习以及工作和生活中的点点滴滴，希望通过此网站，与大家一起交流、进步与成长！">
<include file="Public:css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/plugs/IonCalendar/css/ion.calendar.css">
<link rel="stylesheet" href="__CSS__/index.css" />
<include file="Public:aside_js" />
<include file="Public:header" />

    <!-- revolution slider start -->
<div class="focusbox"><div class="container"><h1 class="focusbox-title">文章归档</h1><div class="focusbox-text">文章存档，整站的文章整理和筛选。</div></div></div>

<!--container start-->
<div class="container space30">
    <div class="row">
        <!--feature start-->
        <div class="col-sm-8">

            <!-- archives -->
            <article class="archives">
                <ul class="archives-meta list-inline">
                    <li>站点统计：<span>11</span>个分类</li>
                    <li><span>231</span>篇文章</li>
                    <li><span>14772</span>条留言</li>
                    <li>文章浏览：<span>4816552</span>条留言</li>
                </ul>
                <div class="archives-content">
                    <p class="expand">展开所有月份</p>
                    <ul class="archives-list">
                        <li>
                                <span class="cate">
                                    <strong>
                                        2016年9月
                                    </strong>
                                    <em>(2篇文章)</em>
                                </span>
                            <ul class="list">
                                <li class="text">
                                    <span>13:</span>
                                    <a href="#">java struts2 远程执行任意java代码漏洞</a>
                                </li>
                                <li class="text">
                                    <span>03:</span>
                                    <a href="#"> Google Authenticator SSH public key 两步验证</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                                <span class="cate">
                                    <strong>
                                        2016年9月
                                    </strong>
                                    <em>(2篇文章)</em>
                                </span>
                            <ul class="list">
                                <li class="text">
                                    <span>13:</span>
                                    <a href="#">java struts2 远程执行任意java代码漏洞</a>
                                </li>
                                <li class="text">
                                    <span>03:</span>
                                    <a href="#"> Google Authenticator SSH public key 两步验证</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                                <span class="cate">
                                    <strong>
                                        2016年9月
                                    </strong>
                                    <em>(2篇文章)</em>
                                </span>
                            <ul class="list">
                                <li class="text">
                                    <span>13:</span>
                                    <a href="#">java struts2 远程执行任意java代码漏洞</a>
                                </li>
                                <li class="text">
                                    <span>03:</span>
                                    <a href="#"> Google Authenticator SSH public key 两步验证</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                                <span class="cate">
                                    <strong>
                                        2016年9月
                                    </strong>
                                    <em>(2篇文章)</em>
                                </span>
                            <ul class="list">
                                <li class="text">
                                    <span>13:</span>
                                    <a href="#">java struts2 远程执行任意java代码漏洞</a>
                                </li>
                                <li class="text">
                                    <span>03:</span>
                                    <a href="#"> Google Authenticator SSH public key 两步验证</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                                <span class="cate">
                                    <strong>
                                        2016年9月
                                    </strong>
                                    <em>(2篇文章)</em>
                                </span>
                            <ul class="list">
                                <li class="text">
                                    <span>13:</span>
                                    <a href="#">java struts2 远程执行任意java代码漏洞</a>
                                </li>
                                <li class="text">
                                    <span>03:</span>
                                    <a href="#"> Google Authenticator SSH public key 两步验证</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                                <span class="cate">
                                    <strong>
                                        2016年9月
                                    </strong>
                                    <em>(2篇文章)</em>
                                </span>
                            <ul class="list">
                                <li class="text">
                                    <span>13:</span>
                                    <a href="#">java struts2 远程执行任意java代码漏洞</a>
                                </li>
                                <li class="text">
                                    <span>03:</span>
                                    <a href="#"> Google Authenticator SSH public key 两步验证</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                                <span class="cate">
                                    <strong>
                                        2016年9月
                                    </strong>
                                    <em>(2篇文章)</em>
                                </span>
                            <ul class="list">
                                <li class="text">
                                    <span>13:</span>
                                    <a href="#">java struts2 远程执行任意java代码漏洞</a>
                                </li>
                                <li class="text">
                                    <span>03:</span>
                                    <a href="#"> Google Authenticator SSH public key 两步验证</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                                <span class="cate">
                                    <strong>
                                        2016年9月
                                    </strong>
                                    <em>(2篇文章)</em>
                                </span>
                            <ul class="list">
                                <li class="text">
                                    <span>13:</span>
                                    <a href="#">java struts2 远程执行任意java代码漏洞</a>
                                </li>
                                <li class="text">
                                    <span>03:</span>
                                    <a href="#"> Google Authenticator SSH public key 两步验证</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                                <span class="cate">
                                    <strong>
                                        2016年9月
                                    </strong>
                                    <em>(2篇文章)</em>
                                </span>
                            <ul class="list">
                                <li class="text">
                                    <span>13:</span>
                                    <a href="#">java struts2 远程执行任意java代码漏洞</a>
                                </li>
                                <li class="text">
                                    <span>03:</span>
                                    <a href="#"> Google Authenticator SSH public key 两步验证</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                                <span class="cate">
                                    <strong>
                                        2016年9月
                                    </strong>
                                    <em>(2篇文章)</em>
                                </span>
                            <ul class="list">
                                <li class="text">
                                    <span>13:</span>
                                    <a href="#">java struts2 远程执行任意java代码漏洞</a>
                                </li>
                                <li class="text">
                                    <span>03:</span>
                                    <a href="#"> Google Authenticator SSH public key 两步验证</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                                <span class="cate">
                                    <strong>
                                        2016年9月
                                    </strong>
                                    <em>(2篇文章)</em>
                                </span>
                            <ul class="list">
                                <li class="text">
                                    <span>13:</span>
                                    <a href="#">java struts2 远程执行任意java代码漏洞</a>
                                </li>
                                <li class="text">
                                    <span>03:</span>
                                    <a href="#"> Google Authenticator SSH public key 两步验证</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                                <span class="cate">
                                    <strong>
                                        2016年9月
                                    </strong>
                                    <em>(2篇文章)</em>
                                </span>
                            <ul class="list">
                                <li class="text">
                                    <span>13:</span>
                                    <a href="#">java struts2 远程执行任意java代码漏洞</a>
                                </li>
                                <li class="text">
                                    <span>03:</span>
                                    <a href="#"> Google Authenticator SSH public key 两步验证</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                                <span class="cate">
                                    <strong>
                                        2016年9月
                                    </strong>
                                    <em>(2篇文章)</em>
                                </span>
                            <ul class="list">
                                <li class="text">
                                    <span>13:</span>
                                    <a href="#">java struts2 远程执行任意java代码漏洞</a>
                                </li>
                                <li class="text">
                                    <span>03:</span>
                                    <a href="#"> Google Authenticator SSH public key 两步验证</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                                <span class="cate">
                                    <strong>
                                        2016年9月
                                    </strong>
                                    <em>(2篇文章)</em>
                                </span>
                            <ul class="list">
                                <li class="text">
                                    <span>13:</span>
                                    <a href="#">java struts2 远程执行任意java代码漏洞</a>
                                </li>
                                <li class="text">
                                    <span>03:</span>
                                    <a href="#"> Google Authenticator SSH public key 两步验证</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                                <span class="cate">
                                    <strong>
                                        2016年9月
                                    </strong>
                                    <em>(2篇文章)</em>
                                </span>
                            <ul class="list">
                                <li class="text">
                                    <span>13:</span>
                                    <a href="#">java struts2 远程执行任意java代码漏洞</a>
                                </li>
                                <li class="text">
                                    <span>03:</span>
                                    <a href="#"> Google Authenticator SSH public key 两步验证</a>
                                </li>
                            </ul>
                        </li>



                    </ul>
                </div>
            </article>

            <!-- archives -->

        </div>

        <div class="col-md-4 sidebar">

            <div class="widget widget-posts">
                <a href="#" target="_blank" rel="nofollow"><img src="http://www.daqianduan.com/wp-content/uploads/2014/09/alibaixiu.png" class="full-img"></a>
            </div>

            <div class="widget widget-posts">
                <div id="calendar"></div>
            </div>

            <div class="widget widget-posts" >
                <a href="http://www.ifanr.com/api/special/apple-september-2016/?utm_source=ifanr.com&amp;utm_medium=ArticleBannerR&amp;utm_campaign=iPhone7event" target="_blank" rel="nofollow"><img class="c-jiong__image" src="http://ifanr-cdn.b0.upaiyun.com/wp-content/uploads/2016/09/eventbannerR.jpg" alt="苹果发布会专题"></a>
            </div>


        </div>
        <!--feature end-->
    </div>
</div>

<include file="Public:footer" />

<include file="Public:js" />

<!-- calendar -->
<script src="__PUBLIC__/home/plugs/IonCalendar/js/moment.min.js"></script>
<script src="__PUBLIC__/home/plugs/IonCalendar/js/moment.zh-cn.js"></script>
<script src="__PUBLIC__/home/plugs/IonCalendar/js/ion.calendar.min.js"></script>
<script src="__JS__/calendar.js"></script>

<script>
$("#Archives_index").addClass("active");
    //展开关闭效果
    $(".list:gt(0)").hide();

    $.fn.cateToggle = function() {
        var $cate = $(this).next();
        if($cate.css("display")=="none"){
            $(this).next().slideDown();
        }else{
            $(this).next().slideUp();
        }
    };
    $(".cate").on("click",function() {
        $(this).cateToggle();
    })

    $(".expand").on("click",function() {
        if($(".list").css("display")=="none"){
            $(".list").slideDown();
            $(".expand").css("background","url(__IMG__/icons/drop-up@2x.png) no-repeat 0 center");
        }else{
            $(".list").slideUp();
            $(".expand").css("background","url(__IMG__/icons/drop@2x.png) no-repeat 0 center");
        }
    });
</script>