<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>{$articles.name}_觅友</title>
<meta name="keywords" content="{$articles.keywords}">
<meta name="description" content="{$articles.desc}">
<!-- Bootstrap core CSS -->
<include file="Public:css" />
<link rel="stylesheet" href="__PLUGINS__/docs/docs.css" />

<include file="Public:aside_js" />
</head>
<body>
<include file="Public:header" />
<!-- revolution slider start -->
    <div class="focusbox">
            <div class="container">
            <h1 class="focusbox-title">技术文摘</h1>
            <div class="focusbox-text">整理互联网前沿技术,汇集IT相关知识，我的知识是个圆！</div>
            </div>
    </div>


<div class="content">
<div class="container bs-docs-container" >
    <div class="row">

        <div class="col-md-2">
            <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
                <ul class="nav bs-docs-sidenav">
                    <li class="active">
                        <a href="#download">下载</a>
                    </li>
                    <li class="">
                        <a href="#whats-included">包含的内容</a>
                        <ul class="nav">
                            <li class=""><a href="#whats-included-precompiled">预编译版</a></li>
                            <li class=""><a href="#whats-included-source">Bootstrap 源码</a></li>
                        </ul>
                    </li>
                </ul>
                <a class="back-to-top" href="#top">
                    返回顶部
                </a>
            </nav>
        </div>

        <div class="col-md-8">
            <div class="bs-docs-section">
                <h1 id="download" class="page-header">下载</h1>
                <p class="lead">Bootstrap（当前版本
                    v3.3.7）提供以下几种方式帮你快速上手，每一种方式针对具有不同技能等级的开发者和不同的使用场景。继续阅读下面的内容，看看哪种方式适合你的需求吧。</p>
            </div>

            <div class="bs-docs-section">
                <h1 id="whats-included" class="page-header">包含的内容
                </h1>

                <p class="lead">Bootstrap 提供了两种形式的压缩包，在下载下来的压缩包内可以看到以下目录和文件，这些文件按照类别放到了不同的目录内，并且提供了压缩与未压缩两种版本。</p>

                <div class="bs-callout bs-callout-warning" id="jquery-required">
                    <h4>Bootstrap 插件全部依赖 jQuery</h4>
                    <p>请注意，<strong>Bootstrap 的所有 JavaScript 插件都依赖 jQuery，</strong>因此 jQuery 必须在 Bootstrap 之前引入，就像在<a
                            href="#template">基本模版</a>中所展示的一样。在<a
                            href="https://github.com/twbs/bootstrap/blob/v3.3.7/bower.json"> <code>bower.json</code> 文件中</a>
                        列出了 Bootstrap 所支持的 jQuery 版本。</p>
                </div>

                <h2 id="whats-included-precompiled">预编译版
                </h2>
                <p>下载压缩包之后，将其解压缩到任意目录即可看到以下（压缩版的）目录结构：</p>
                <!-- NOTE: This info is intentionally duplicated in the README.
                Copy any changes made here over to the README too. -->
                <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div>
                <figure class="highlight"><pre><!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script></pre>
                </figure>
                <!-- NOTE: This info is intentionally duplicated in the README.
                Copy any changes made here over to the README too. -->

                <h2 id="whats-included-source">Bootstrap
                    源码</h2>
                <p>Bootstrap 源码包含了预先编译的 CSS、JavaScript 和图标字体文件，并且还有 LESS、JavaScript 和文档的源码。具体来说，主要文件组织结构如下：</p>
                <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div>
                <figure class="highlight"><pre><code class="language-bash" data-lang="bash">bootstrap/
├── less/
├── js/
├── fonts/
├── dist/
│   ├── css/
│   ├── js/
│   └── fonts/
└── docs/
    └── examples/</code></pre>
                </figure>
                <p><code>less/</code>、<code>js/</code> 和 <code>fonts/</code> 目录分别包含了 CSS、JS 和字体图标的源码。<code>dist/</code>
                    目录包含了上面所说的预编译 Bootstrap 包内的所有文件。<code>docs/</code> 包含了所有文档的源码文件，<code>examples/</code> 目录是 Bootstrap
                    官方提供的实例工程。除了这些，其他文件还包含 Bootstrap 安装包的定义文件、许可证文件和编译脚本等。</p>
            </div>
            <p class="post-copyright">本文档系在学习中的技术点总结,版权属原技术所有!</p>
			<div style="margin-bottom: 30px;">

            	<div class="content">
                    <ul class="pager clearfix">
                            <li class="previous"><a href="{:U('Blog/articles',array('id'=>$prev['id']))}" class="tooltip-test" data-toggle="tooltip" title="默认的 Tooltip">默认的 Tooltip</a></li>
                            <li class="next"><a href="{:U('Blog/articles',array('id'=>$prev['id']))}" class="tooltip-test" data-toggle="tooltip" title="默认的 Tooltip">默认的 Tooltip</a></li>
                    </ul>

                </div>

			</div>

        </div>

    </div>
</div>
</div>
<include file="Public:footer" />
<script src="__JS__/jquery.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/common.js"></script>

<script type="text/javascript" src="__PLUGINS__/layui/layui.js"></script>
<script type="text/javascript" src="__PLUGINS__/layui/lay/dest/layui.all.js"></script>

<script src="__PLUGINS__/docs/docs.min.js"></script>
<script src="__PLUGINS__/zeroClipboard/ZeroClipboard.js"></script>


<script>
$("#document_index").addClass("active");
$("#Function_index").addClass("active");

$(function() {
    var client = new ZeroClipboard( $(".btn-clipboard") );

    client.on( "ready", function( readyEvent ) {
    // alert( "ZeroClipboard SWF is ready!" );
    client.on( 'copy', function(event) {
            var code = $(event.target).parent().next().find('.layui-code-ol').text();
          event.clipboardData.setData('text/plain',code);
        } );
    client.on( "aftercopy", function( event ) {
    // `this` === `client`
    // `event.target` === the element that was clicked
        layer.msg('恭喜您，成功复制代码！', {time: 1000});
      } );
    } );
    client.on( 'error', function(event) {
        console.log( 'ZeroClipboard error of type "' + event.name + '": ' + event.message );
        ZeroClipboard.destroy();
    } );

})

</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?ced2bfdf081a8c7f45add898cecdacc2";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();


</script>

<include file="Public:layui_showcode" />

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?ba6f742ccf462cb7a9d6dca60a7a90ea";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
{/*自动推送工具代码*/}
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();


(function(){
    $(".swiper-container").mouseover(function (){
        $(".swiper-button-prev").addClass('class_name');
    }).mouseout(function (){
        $(".swiper-button").hide();
    });
})();


//自执行匿名函数
(function(){
    window.setTimeout(arguments.callee, 1000);
    //建站时间
    var BirthDay = new Date("12/31/2016 00:00:00");
    //现在时刻
    var today = new Date();
    //运行时间 = 现在时刻 - 建站时间
    timeover = (today.getTime() - BirthDay.getTime());
    sectimeover = timeover / 1000;
    secondsover = Math.floor(sectimeover);
    msPerDay = 24 * 60 * 60 * 1000;
    e_daysover = timeover / msPerDay;
    daysover = Math.floor(e_daysover);
    e_hrsover = (e_daysover - daysover) * 24;
    hrsover = Math.floor(e_hrsover);
    e_minsover = (e_hrsover - hrsover) * 60;
    minsover = Math.floor((e_hrsover - hrsover) * 60);
    seconds = Math.floor((e_minsover - minsover) * 60);
    webTime.innerHTML = "·米鱼博客已运行：" + daysover + "天" + hrsover + "小时" + minsover + "分" + seconds + "秒";
})();
document.getElementsByTagName('iframe')[0].width="500";

</script>

</body>
</html>



