<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>学习文档_觅友</title>
<meta name="keywords" content="觅友，觅友网，觅友博客，觅友小站，前端，miuu,IT开发，css，css3，js，js特效，php，jquery，ajax，java">
<meta name="description" content="觅友_有朋自远方来，分享自己网站开发学习以及工作和生活中的点点滴滴，希望通过此网站，与大家一起交流、成长、进步！">
<link rel="stylesheet" href="__CSS__/bootstrap.css" />
<link rel="stylesheet" href="__CSS__/bootstrap-reset.css" />
<link rel="stylesheet" href="__CSS__/style.css" />
<link rel="stylesheet" href="__CSS__/style-responsive.css" />
<link rel="stylesheet" href="__PUBLIC__/home/iconfont/iconfont.css" />
<link href="__PLUGINS__/mixitup/css/mixitup.css" rel="stylesheet" type="text/css" media="all" />
<include file="Public:aside_js" />
</head>
<body>
<include file="Public:header" />
    <!-- revolution slider start -->
    <div class="focusbox">
            <div class="container">
            <h1 class="focusbox-title">在线学习文档</h1>
            <div class="focusbox-text">在线学习,在学习中整理文档,我在努力中！</div>
            </div>
    </div>
    <!--container start-->
    <div class="content">
        <div class="container">
    <div class="portfolio-content">
            <!-- portfolio -->
            <div class="portfolio-section" id="portfolio">
                <!-- head-section -->
                    <div class="head-section text-center">
                        <h2>文档分类</h2>
                        <span> </span>
                    </div>
                    <!-- /head-section -->
                 <ul id="filters" class="clearfix">
                        <li><span class="filter active" data-filter="app card icon logos web">全部</span></li>
                        <li><span class="filter" data-filter="app">JAVA</span></li>
                        <li><span class="filter" data-filter="card">JS</span></li>
                        <li><span class="filter" data-filter="icon">CSS</span></li>
                        <li><span class="filter" data-filter="logos">HTML</span></li>
                        </ul>
                    <div id="portfoliolist">
                    <div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                             <a href="{:U('Document/java')}" class="swipebox"  title="java文档"> <img src="__PLUGINS__/mixitup/images/pic-1.jpg" class="img-responsive" alt=""><span class="zoom-icon"> </span> </a> </a>
                        </div>
                    </div>
                    <div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                             <a href="{:U('Document/enumjava')}" class="swipebox"  title="enumjava"> <img src="__PLUGINS__/mixitup/images/pic-2.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                    </div>
                    <div class="portfolio icon mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="icon" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                             <a href="__PLUGINS__/mixitup/images/pic-3.jpg" class="swipebox"  title="Image Title"> <img src="__PLUGINS__/mixitup/images/pic-3.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>

                    </div>

                    <div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                             <a href="__PLUGINS__/mixitup/images/pic-4.jpg" class="swipebox"  title="Image Title"> <img src="__PLUGINS__/mixitup/images/pic-4.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                    </div>
                    <div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                             <a href="__PLUGINS__/mixitup/images/pic-5.jpg" class="swipebox"  title="Image Title"> <img src="__PLUGINS__/mixitup/images/pic-5.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                    </div>
                    <div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                             <a href="__PLUGINS__/mixitup/images/pic-6.jpg" class="swipebox"  title="Image Title"> <img src="__PLUGINS__/mixitup/images/pic-6.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                    </div>
                    <div class="portfolio icon mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="icon" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                             <a href="__PLUGINS__/mixitup/images/pic-7.jpg" class="swipebox"  title="Image Title"> <img src="__PLUGINS__/mixitup/images/pic-7.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                        </div>
                        <div class="portfolio logos mix_all wow bounceIn" data-wow-delay="0.4s" data-cat="logos" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                             <a href="__PLUGINS__/mixitup/images/pic-8.jpg" class="swipebox"  title="Image Title"> <img src="__PLUGINS__/mixitup/images/pic-8.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                    </div>
                        <div class="portfolio logos mix_all wow bounceIn" data-wow-delay="0.4s" data-cat="logos" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                             <a href="http"//baidu.com class="swipebox"  title="Image Title"> <img src="__PLUGINS__/mixitup/images/pic-9.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                        </div>
                    </div>
                    <div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                             <a href="__PLUGINS__/mixitup/images/pic-10.jpg" class="swipebox"  title="Image Title"> <img src="__PLUGINS__/mixitup/images/pic-10.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                    </div>
                    <div class="portfolio icon mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="icon" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                             <a href="__PLUGINS__/mixitup/images/pic-11.jpg" class="swipebox"  title="Image Title"> <img src="__PLUGINS__/mixitup/images/pic-11.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                        </div>
                    <div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper grid_box">
                             <a href="__PLUGINS__/mixitup/images/pic-12.jpg" class="swipebox"  title="Image Title"> <img src="__PLUGINS__/mixitup/images/pic-12.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>

                        </div>
                    </div>
<div class="clearfix"></div>
                </div>
<div class="clearfix"></div>
            </div>

            </div>
        </div>
    </div>
<include file="Public:footer" />
<include file="Public:js" />
<script>
    // js跳转到搜索结果页面
    $('.search').blur(function() {
        location.href = ThinkPHP['MODULE'] + '/other/search?keywords=' + $(this).text();
    });

    $("#document_index").addClass("active");
    $("#Function_index").addClass("active");
</script>

<!-- Script for gallery Here -->
    <script type="text/javascript" src="__PLUGINS__/mixitup/js/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="__PLUGINS__/mixitup/js/jquery.easing.min.js"></script>

    <script type="text/javascript">
    $(function () {

        var filterList = {

            init: function () {

                // MixItUp plugin
                // http://mixitup.io
                $('#portfoliolist').mixitup({
                    targetSelector: '.portfolio',
                    filterSelector: '.filter',
                    effects: ['fade'],
                    easing: 'snap',
                    // call the hover effect
                    onMixEnd: filterList.hoverEffect()
                });

            },

            hoverEffect: function () {

                // Simple parallax effect
                $('#portfoliolist .portfolio').hover(
                    function () {
                        $(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
                        $(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');
                    },
                    function () {
                        $(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');
                        $(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');
                    }
                );

            }

        };

        // Run the show!
        filterList.init();


    });
    </script>
</body>
</html>
