<div class="col-sm-3">
    <div class="user-avatar text-center">
        <img class="img-responsive center-block" src="__PUBLIC__/Home/img/avatar.jpeg" alt="...">
        蜡笔小弟
    </div>
    <div class="panel-group" id="help-nav">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-one">
                    个人中心
                </a>
            </div>
            <div id="help-nav-one" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul>
                        <li>
                            <a href="{:U('User/index')}">
                                <i class="fa fa-user">
                                </i>
                                个人信息
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-edit">
                                </i>
                                密码修改
                            </a>
                        </li>
                        <li>
                            <a href="{:U('User/addr')}">
                                <i class="fa fa-flag-o">
                                </i>
                                收货地址
                            </a>
                        </li>
                        <li>
                            <a href="{:U('Cart/index')}">
                                <i class="fa fa-shopping-cart">
                                </i>
                                我的购物车
                            </a>
                        </li>
                        <li>
                            <a href="{:U('Order/index')}">
                                <i class="fa fa-calendar">
                                </i>
                                我的订单
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-cogs">
                                </i>
                                评价管理
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>


