<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>登录_觅友</title>
<meta name="description" content="觅友，觅友网，觅友博客，觅友小站，前端，miuu,IT开发，css，css3，js，js特效，php，jquery，ajax，java">
<meta name="description" content="觅友_有朋自远方来，分享自己网站开发学习以及工作和生活中的点点滴滴，希望通过此网站，与大家一起交流、成长、进步！">
<include file="Public:css" />
<include file="Public:aside_js" />
</head>
<body>
<div class="middle-box text-center loginscreen animated fadeInDown">
    <h2 class="logo-name">U+</h2>
    <h3>这都被你发现了，欢迎欢迎!</h3>
    <form class="m-t" action="">
        <div class="form-group">
            <input type="email" class="form-control" placeholder="用户名" required="">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="密码" required="">
        </div>
        <div class="form-group text-left">
            <div class="checkbox i-checks">
                <label class="no-padding">
                    <input type="checkbox" />
                    保持登录</label>
            </div>
        </div>
        <button type="submit" class="btn btn-success block full-width m-b">登 录</button>
        <div class="tips animated fadeInDown">
            <div class="alert ng-binding ng-scope alert-danger">请输入登录邮箱</div>
        </div>
        <p class="text-muted text-center"> <a href="resetpassword.html#"><small>忘记密码了？</small></a> | <a href="register.html">注册一个新账号</a>
        </p>
    </form>
    </div>

</body>
</html>

<form class="m-t" action="">
        <div class="form-group">
            <input type="email" class="form-control" placeholder="用户名" required="">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="密码" required="">
        </div>
        <div class="form-group text-left">
            <div class="checkbox i-checks">
                <label class="no-padding">
                    <input type="checkbox" />
                    保持登录</label>
            </div>
        </div>
        <button type="submit" class="btn btn-success block full-width m-b">登 录</button>
        <div class="tips animated fadeInDown">
            <div class="alert ng-binding ng-scope alert-danger">请输入登录邮箱</div>
        </div>
        <p class="text-muted text-center"> <a href="resetpassword.html#"><small>忘记密码了？</small></a> | <a href="register.html">注册一个新账号</a>
        </p>
    </form>