<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>注册_觅友</title>
<meta name="keywords" content="觅友，觅友网，觅友博客，觅友小站，前端，miuu,IT开发，css，css3，js，js特效，php，jquery，ajax，java">
<meta name="description" content="觅友_有朋自远方来，分享自己网站开发学习以及工作和生活中的点点滴滴，希望通过此网站，与大家一起交流、成长、进步！">
<link rel="shortcut icon" href="__PUBLIC__/home/ico/favicon.ico">
<!-- Google Webfont -->
<link rel='stylesheet'  href='http://fonts.useso.com/css?family=Lato:300,400|Crimson+Text' >
<link rel="stylesheet" href="__CSS__/bootstrap.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/home.css" >
<link rel="stylesheet"  href="__CSS__/jquery.ui.css" >
<link rel="stylesheet" href="__CSS__/hero.css">

<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/login.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.placeholder.js"></script>
</head>
<body>
<section class="login-bg">
	<div class="container">
	<div class="row">
		<div class="reg_box reg col-sm-6 col-sm-offset-3 col-xm-6 col-xm-offset-3">
		            <div class="reg_main" >
		                <div class="reg_slogan">
		                <h4>用户注册</h4>

		                </div>
		                <div class="reg_form" >
		                    <form method="post" id="register">
		                        <div class="cell">
		                            <label for="username"></label>
		                            <input type="text" name="username" id="username" class="form-control"  placeholder="请输入您的账号" />
		                        </div>
		                        <div class="cell">
		                            <label for="password"></label>
		                            <input type="password" name="password" id="password" class="form-control" maxlength="20" placeholder="请设置您的密码" />
		                        </div>
		                        <div class="cell">
		                            <label for="repassword"></label>
		                            <input type="password" name="repassword" id="repassword" class="form-control" maxlength="20" placeholder="确认您的密码" />
		                        </div>
		                        <div class="cell">
		                            <label for="email"></label>
		                            <input type="text" name="email" id="email" class="form-control" placeholder="输入你的常用邮箱" />
		                        </div>
		                        <!-- 验证码 -->
		                        <div class="cell">
		                            <div class="">
		                                <label for="vcode"></label>
		                                <input type="text" name="verify" id="verify" class="form-control vcode" maxlength="6" placeholder="输入验证码" />
		                            </div>
		                            <p class="vcode_img">
		                               <img src="{:U('getverify')}"  class="verify_img" />
		                            </p>
		                            <p>
		                            <a href="#" class="verify_img" id="change">换一换</a></p>
		                        </div>
		                        <div class="cell">
		                            <input type="submit" class="btn btn-primary btn-lg" value="立即注册" />
		                        </div>
		                    </form>
		                </div>
		                <div class="bottom_fix text-center">
		                    <a href="{:U('User/login')}">返回登录</a>
		                    <a href="__APP__/">返回首页</a>
		                </div>
		            </div>
		            </div>
		</div>
	</div>
</section>
<script>
//验证码点击刷新
$(function(){
	var img = $(".verify_img");
	var src = img.attr("src")+"?";
	img.click(function(){
		img.attr("src",src+Math.random());
	});
});
/*//失去焦点时验证表单
$("#pwd2").blur(function(){
	if($(this).val() !== $("#pwd").val()){
		$(this).addClass('error');
	}else{
		$(this).removeClass('error');
	}
});
//表单提交时验证表单
$("form").submit(function(){
	if($("#pwd2").val() !== $("#pwd").val()){
		alert('两次输入密码不一致！');
		return false;
	}
});*/
</script>
</body>
</html>