<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>米鱼（MIUu）博客后台</title>

    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/admin/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">

    <link href="__PUBLIC__/admin/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.min862f.css?v=4.1.0" rel="stylesheet">


</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>商品添加</h5>
                        <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    </div>
                    <div class="ibox-content">
                        <div class="top-button">
							<h4>选择商品分类：</h4>
							<select id="category" class="form-control">
								<option value="0">未分类</option>
								<foreach name="category" item="v">
									<option value="{$v.id}" <eq name="v.id" value="$cid">selected</eq>>{:str_repeat('— ',$v['level'])}{$v.name}</option>
								</foreach>
							</select>
							<h4>
							<a href="{:U('Goods/index',array('cid'=>$cid))}" class="light">商品列表</a>
							<a href="{:U('Category/add')}">添加分类</a>
							</h4>
						</div>
						<present name="success"><div class="mssage">添加成功。</div></present>
							<form method="post" class="form-horizontal" enctype="multipart/form-data">
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label">商品名称：</label>
	                                <div class="col-sm-10">
	                                    <input type="text" name="name" class="form-control" >
	                                </div>
	                            </div>
	                            <div class="hr-line-dashed"></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label">商品编号：</label>
	                                <div class="col-sm-10">
	                                    <input type="text" name="sn" class="form-control" >
	                                </div>
	                            </div>
	                            <div class="hr-line-dashed"></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label">商品价格：</label>
	                                <div class="col-sm-10">
	                                    <input type="text" name="price" class="form-control">
	                                    <span class="help-block m-b-none">帮助文本，可能会超过一行，以块级元素显示</span>
	                                </div>
	                            </div>
	                            <div class="hr-line-dashed"></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label">商品库存：</label>
	                                <div class="col-sm-10">
	                                    <input type="text" name="stock" class="form-control">
	                                </div>
	                            </div>
	                            <div class="hr-line-dashed"></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label">是否上架：</label>
	                                <div class="col-sm-10">
	                                    <select name="on_sale" class="form-control">
	                                    <option value="yes" selected>是</option><option value="no">否</option>
	                                    </select>
	                                </div>
	                            </div>
	                            <div class="hr-line-dashed"></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label">首页推荐：</label>
	                                <div class="col-sm-10">
	                                    <select name="recommend" class="form-control">
	                                    <option value="yes">是</option><option value="no" selected>否</option>
	                                    </select>
	                                </div>
	                            </div>
	                            <div class="hr-line-dashed"></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label">上传图片：</label>
	                                <div class="col-sm-10">
	                                    <input type="file" name="thumb" />
	                                </div>
	                            </div>
	                            <div class="hr-line-dashed"></div>
	                            <div class="editor" >
									<include file="Goods/_editor" />
									<script type="text/plain" id="myEditor" name="content"><p>请在此处输入商品详情。</p></script>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="form-group">
	                                <div class="col-sm-4 col-sm-offset-2">
	                                    <button class="btn btn-primary" type="submit" value="添加商品">添加商品</button>
	                                    <button class="btn btn-white" type="submit" value="添加并返回" name="return">添加并返回</button>
	                                </div>
	                            </div>
	                            <div class="hr-line-dashed"></div>
                        	</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/content.min.js"></script>
    <script>
		//下拉菜单跳转
		$("#category").change(function(){
			var url = "{:U('Goods/add',array('cid'=>'_ID_'))}";
			location.href = url.replace("_ID_",$(this).val());
		});
	</script>
</body>
</html>