<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>米鱼（MIUu）博客后台</title>

    <link rel="shortcut icon" href="favicon.ico"> <link href="__PUBLIC__/admin/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>商品列表</h5>
                        <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    	</div>
                    </div>
                    <div class="ibox-content">
                        <div class="top-button">
							<h5>选择商品分类：</h5><select id="category" class="form-control">
								<option value="-1" >全部</option>
								<option value="0" <eq name="cid" value="0">selected</eq>>未分类</option>
								<foreach name="category" item="v">
									<option value="{$v.id}" <eq name="v.id" value="$cid">selected</eq>>{:str_repeat('— ',$v['level'])}{$v.name}</option>
								</foreach>
							</select>
							<div><h4>
							<a href="{:U('Goods/add',array('cid'=>$cid))}" class="light">添加商品</a>
							<a href="{:U('Category/add')}">添加分类</a>
							</h4></div>
						</div>
						<div class="list full">
							<table class="table">
								<tr><th class="t1">商品分类</th><th>商品名称</th><th >库存</th><th >上架</th><th>推荐</th><th>操作</th></tr>
								<foreach name="goods.data" item="v">
									<tr><td class="t1">
										<empty name="v.category_id">
											<a href="{:U('Goods/index','cid=0')}">未分类</a>
										<else/>
											<a href="{:U('Goods/index',array('cid'=>$v['category_id']))}">{$v.category_name}</a>
										</empty>
									</td>
									<td>{$v.name}</td><td>{$v.stock}</td>
									<td><a href="#" class="act-onsale" data-id="{$v.id}" data-status="{$v.on_sale}"><eq name="v.on_sale" value="yes">是<else/>否</eq></a></td>
									<td><a href="#" class="act-recommend" data-id="{$v.id}" data-status="{$v.recommend}"><eq name="v.recommend" value="yes">是<else/>否</eq></a></td><td>
									<a href="{:U('Goods/edit',array('id'=>$v['id'],'cid'=>$v['category_id'],'p'=>$p))}">修改</a>　<a href="#" class="act-del" data-id="{$v.id}">删除</a></td></tr>
								</foreach>
							</table>
						</div>
						<div class="pagelist">{$articles.pagelist}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="post" id="form">
		<input type="hidden" name="id" id="target_id">
		<input type="hidden" name="field" id="target_field">
		<input type="hidden" name="status" id="target_status">
	</form>
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/content.min.js"></script>
	<script>
		//下拉菜单跳转
		$("#category").change(function(){
			var url = "{:U('Articles/index',array('cid'=>'_ID_'))}";
			location.href = url.replace("_ID_",$(this).val());
		});
		//快捷操作
		function change_status(obj,field){
			$("#target_id").val(obj.attr("data-id"));
			$("#target_field").attr("value",field)
			$("#target_status").attr("value",(obj.attr("data-status")=="yes") ? "no" : "yes");
			$("#form").attr("action","{:U('Goods/change',array('p'=>$p,'cid'=>$cid))}").submit();
		}
		//快捷操作-推荐
		$(".act-recommend").click(function(){
			change_status($(this),'recommend');
		});
		//快捷操作-上架
		$(".act-onsale").click(function(){
			change_status($(this),'on_sale');
		});
		//快捷操作-删除
		$(".act-del").click(function(){
			if(confirm('确定要删除吗？')){
				$("#target_id").val($(this).attr("data-id"));
				$("#form").attr("action","{:U('Articles/del',array('p'=>$p,'cid'=>$cid))}").submit();
			}
		});
	</script>
</body>

</html>












