<!-- <!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>MAC博客 - 后台管理系统</title>
	<link rel="stylesheet" href="__PUBLIC__/Admin/css/style.css"/>
	<script src="__PUBLIC__/Common/js/jquery.min.js"></script>
</head>
<body>
<div class="top">
	<h1 class="left">MAC博客 <span>后台管理系统</span></h1>
	<ul class="right">
		<li>欢迎您：{$admin_name}</li>
		<li><a href="__APP__/" target="_blank">前台首页</a></li>
		<li><a href="{:U('Login/logout')}">退出登录</a></li>
	</ul>
</div>
<div class="main">
	<div class="menu left">
		<div class="box">
			<div class="head"><i></i><div>管理菜单</div></div>
			<ul><li><a href="{:U('Index/index')}">后台首页</a></li>
				<li><a href="{:U('Goods/add')}" id="Goods_add">商品添加</a></li>
				<li><a href="{:U('Goods/index')}" id="Goods_index">商品列表</a></li>
				<li><a href="{:U('Category/add')}" id="Category_add">商品分类添加</a></li>
				<li><a href="{:U('Category/index')}" id="Category_index">商品分类列表</a></li>
				<li><a href="{:U('Recycle/index')}" id="Recycle_index">回收站</a></li>
				<li><a href="{:U('User/index')}" id="User_index">会员管理</a></li>

			</ul>
			<ul class="article">
				<li><a href="{:U('Articles/add')}" id="Articles_add">文章添加</a></li>
				<li><a href="{:U('Articles/index')}" id="Articles_index">文章列表</a></li>
				<li><a href="{:U('Categoryart/add')}" id="Categoryart_add">文章分类添加</a></li>
				<li><a href="{:U('Categoryart/index')}" id="Categoryart_index">文章分类列表</a></li>
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="item">{__CONTENT__}</div>
	</div>
</div>
<script>
	$("#{$Think.CONTROLLER_NAME}_{$Think.ACTION_NAME}").addClass("curr");
</script>
</body>
</html> -->