<extend name="Base/common" /> 
<block name="title"><title>说说_觅友</title></block>
<block name="keywords"><meta name="keywords" content="觅友，觅友网，觅友博客，觅友小站，前端，miuu,IT开发，css，css3，js，js特效，php，jquery，ajax，java"></block>
<block name="description"><meta name="description" content="觅友_有朋自远方来，分享自己网站开发学习以及工作和生活中的点点滴滴，希望通过此网站，与大家一起交流、成长、进步！"></block>
<block name="css"><include file="Public:css" /></block>
<block name="web_css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/topic.css" >
	<link rel="stylesheet" href="__PUBLIC__/Home/css/rl_exp.css" >
	<link rel="stylesheet" href="__PUBLIC__/Home/css/uploadify.css" >
</block>
<block name="js"><include file="Public:js" /></block>
<block name="web_js">
	<script type="text/javascript" src="__PUBLIC__/Home/uploadify/jquery.uploadify.min.js"></script> 
	<script type="text/javascript" src="__PUBLIC__/Home/js/lee_pic.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/discuz.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/rl_exp.js" ></script>
</block>
<block name="header"><include file="Public:header" /></block>
<block name="main">
 <aside id="fh5co-hero"  class="small_bann" style="background-image: url(__IMG__/hero4.jpg);">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </aside>

<div id="fh5co-main" class="small_main">
  <div class="header_barwrapper">
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-9 col-xs-9">
  				<h3>留下曾經的记忆，放松你的心情</h3>
  				<div>在记录足迹的同时找回曾经的记忆吧！请大家进来留下你的心情，休息片刻。</div>
  			</div>
  			<div class="col-sm-3 col-xm-3">
				<div class="header-search">
					<div class="input-append">
						<input class="span2 search" id="appendedInputButton" size="16" type="text"  value="请输入关键词" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入关键词';}"><button class="btn go" type="button"><i class="ti-search"></i></button>
					</div>
				</div>
  			</div>

  		</div>
  	</div>
  </div>
  <div class="wrapper">

    <div class="container discuss">
        <div class="mainbar col-sm-9" >
            <form class="discuz_form clearfix" id="discuz">
                <textarea class="discuz_text" id="rl_exp_input" name="content" ></textarea>
                <div class="else_face">
                <div>      	<a href="javascript:void(0)" class="face" id="rl_exp_btn">表情</a>
                <div class="rl_exp" id="rl_bq" style="display:none;">
                    <ul class="rl_exp_tab clearfix">
                        <li><a href="javascript:void(0);" class="selected">默认</a></li>
                        <li><a href="javascript:void(0);">拜年</a></li>
                        <li><a href="javascript:void(0);">浪小花</a></li>
                        <li><a href="javascript:void(0);">暴走漫画</a></li>
                    </ul>
                    <ul class="rl_exp_main clearfix rl_selected"></ul>
                    <ul class="rl_exp_main clearfix" style="display:none;"></ul>
                    <ul class="rl_exp_main clearfix" style="display:none;"></ul>
                    <ul class="rl_exp_main clearfix" style="display:none;"></ul>
                    <a href="javascript:void(0);" class="close">×</a>
                </div>
				<a href="javascript:void(0)" class="weibo_pic" id="pic_btn">图片</a>
				<p class="right weibo_num pull-left">亲，可以输入<strong>140</strong>个字</p></div>
          
				<div class="weibo_pic_box" id="pic_box" style="display:none;">	
					<div class="weibo_pic_header">
						<span>共<span class="weibo_pic_total">0</span>张，还能上传<span class="weibo_pic_limit">1</span>张</span>
						<a href="javascript:void(0);" class="close">×</a>
					</div>
					<div class="weibo_pic_list">
						
					</div>
					<input type="file" name="file" id="file_upload" />
				</div>
                <input class="discuz_btn btn btn-primary"  id="Submit" type="button" value="发布" />
                </div>
                
            </form>
            <div class="discuz_content ">
			<!--此位置被动态插入DMO节点-->
				<volist name="topicList" id="obj">
				<div class="weibo_content_data row">
					<div class="col-xs-3 col-sm-2">
						<a href="/weibo/Space/index/id/10.html" class="face_img"><img src="__PUBLIC__/Home/img/small_face.jpg" border="0" alt="" class="face_pic"></a>
					</div>
					<div class="col-xs-9 col-sm-10">
						<a class="title" href="/weibo/Space/index/id/10.html">{$obj.username}</a><span class="time">{$obj.time}</?php>:</span>
						<p>{$obj.content}</p>
						<div class="img" style="display:block;">
						<if condition="$obj.thumb != ''"><img src="{$IMG_URL}{$obj.thumb}{$IMG_THUMB}" ></if>
						</div>				
							<div class="wb_handle ">
							<span class="handler ">赞(0) | <a href="javascript:void(0)" class="re">转播(0)</a> | <a href="javascript:void(0)" class="comment">评论</a> | 收藏</span>
							<div class="re_box re_com_box" style="display:none;">
								<p>表情、字数限制自行完成</p>
								<textarea class="re_text re_com_text" name="commend"></textarea>
								<input type="hidden" name="reid" value="204">
								<input class="re_button ui-button ui-widget ui-state-default ui-corner-all" type="button" value="转播" role="button" aria-disabled="false">
							</div>
							<div class="com_box re_com_box" style="display:none;">
								<p>表情、字数限制自行完成</p>
								<textarea class="com_text re_com_text" name="commend"></textarea>
								<input type="hidden" name="tid" value="204">
								<input class="com_button ui-button ui-widget ui-state-default ui-corner-all" type="button" value="评论" role="button" aria-disabled="false">
							<div class="comment_content">	
							</div>
							</div>	
							</div>
					</div>
				</div>
				</volist>
				<div id="loadmore" class="loadmore" >加载更多 <img src="__PUBLIC__/Home/img/loadmore.gif" alt=""></div>
            </div> 
        </div>
        <div class="sidebar col-sm-3">
			
			
            <div class="article-tab">
				<div class="panel-heading article_bg">
					<h3>
						你也可能喜欢
					</h3>
				</div>
				<div class="panel">
					<div class="panel-body panel-body-border">
						<ul class="">
							<li>
								<a href="#">
									最佳助攻！25款轻巧实用的SKETCH插件大合集
								</a>
							</li>
							<li>
								<a href="#">
									深入浅出学配色！带你重新全面认识色彩系列之紫色篇
								</a>
							</li>
							<li>
								<a href="#">
									平面设计和游戏设计区别
								</a>
							</li>
							<li>
								<a href="#">
									字体故事：字体结构重心设计思路
								</a>
							</li>
							<li>
								<a href="#">
									用户体验人才和应聘(附讲座视频)
								</a>
							</li>
							<li>
								<a href="#">
									想在手机上、被窝里获取设计教程、经验分享和各种意想不到的”福利”吗？
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="hot_bann">
			<a href="#"><img src="__IMG__/work1.jpg" alt=""></a>
			</div>
			
         
        </div>
        <div class="clear">
        </div>
    </div>
</div>
</div>
<script> $("#Topic_index").addClass("active"); </script>
</block>
<block name="footer"><include file="Public:footer" /></block>



