/* =Index
-------------------------------------------------------------- */
.digest-grid {
  position: relative;
  margin-bottom: 20px;
  background: #fff;
}

.digest-img img {
  width: 100%;
  height: 135px;
  object-fit: cover;
}

.digest-label {
  position: absolute;
  left: 7px;
  top: 7px;
  z-index: 2;
  padding: 0 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
}

.digest-label-link {
  text-decoration: none;
  outline: 0;
  display: block;
  color: #fff;
}

.digest-text h4 {
  padding: 0 18px;
  display: block;
  height: 40px;
  line-height:1.5;
  overflow: hidden;
  margin-top: 18px;
  margin-bottom: 12px;
  font-size: 1.5rem;
}
.digest-text h4 a:hover, .digest-info h4 a:hover {
    padding-left: 5px;
    transition: all 0.5s ease 0s;
}
.digest-text p {
  margin-bottom: 10px;
}

.digest-text p.author {
  font-size: 12px;
  margin: 0;
}
.digest-text .author a, span.author, .digest-text .views-info {
  font-family: 'Open Sans',"Microsoft Yahei";
  font-size: 12px;
  color: #b3b3b3;
}
.digest-text:hover {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}
.digest-text .detail {
  height: 43px;
  line-height: 43px;
  margin: 0;
  padding: 0 18px;
  border-top: 1px solid #eee;
  position: relative;
}

.signboard {
  height: 245px;
  padding: 0 15px 15px;
  background: url(../img/blog/1.jpg);
}

.signboard strong {
  display: inline-block;
  margin-top: 20px;
  padding: 0 0 0 10px;
  color: #fff;
  font-family: "Microsoft Yahei";
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
  border-left: 5px solid #f25f5b;
}
.signboard .sign {
  margin: 60px 0 15px;
  text-align: center;
}
.signboard .sign a {
  padding: 6px 15px;
  margin: 0 5px;
}
.signboard h4 {
  text-align: center;
  color: #f9f9f9;
  line-height: 24px;
}
