/*
****taxation À∞∑—º∆À„**** */
.popup-text {
    margin: 0rem 0 1rem;
    padding: 0 20px;
    font-size: 0.7rem;
    line-height: 1.7;
}
.know {
    min-height: 2.2rem;
    font-size: 0.7rem;
    line-height: 2.2rem;
    color: #81d8d0;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.other-charges {
    min-height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: #81d8d0;
    background-color: #ffffff;
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
}
.othernape {
    margin-left: 0.85rem!important;
    border-bottom: 1px solid #f5f5f5;
    background-color: #fff;
}
.rtl {
    direction: rtl;
}
.rtl option {
    direction: ltr;
}
.taxation-left {
    width: 100%!important;
}
.blove-color {
    color: #81d8d0;
}
.blove-bg {
    background-color: #81d8d0;
}
.total-tax {
    padding: 0.75rem;
    min-height: 10rem;
    background-color: #81d8d0;
}
.sum-tax {
    margin: 0.5rem 1.2rem;
    padding-top: 0.6rem;
    text-align: center;
    border-top: 1px solid #43686f;
}
.sum-tax p {
    line-height: 1.5;
}
.sum-number {
    font-size: 1.2rem;
}
.sum-number span {
    font-size: 0.9rem;
}
.aui-taxation .money {
    margin-top: 0.3rem;
    font-size: 0.8rem;
    color: #293846;
}
.medium-blue {
    color: #43686f;
}
.light-blue {
    color: #67aba7;
}
.deep-blue {
    color: #293846;
}
.unit-seat {
    position: relative;
    padding-right: 0!important;
}

.aui-unit{
    color: #212121;
    width: 10%;
    min-width: 1.5rem;
    padding-left: 3px;
    padding-right: 0.7rem!important;
    margin-right: 15px;
    line-height: 22.4px;
    font-size: 0.7rem;
}