<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="baidu-site-verification" content="UcNs3IHDX2" />
<title>关于我_觅友</title>
<meta name="keywords" content="觅友，觅友网，觅友博客，觅友小站，前端，miuu,IT开发，css，css3，js，js特效，php，jquery，ajax，java">
<meta name="description" content="觅友,将来的你,一定会感谢现在拼命的自己！">
<include file="Public:css" />
<link rel="stylesheet" href="__PLUGINS__/resume/css/about.css">
<link rel="stylesheet" href="__PLUGINS__/resume/css/work.css">
<!-- Owl Carousel -->
<link rel="stylesheet" href="__PLUGINS__/resume/css/owl.carousel.min.css">
<link rel="stylesheet" href="__PLUGINS__/resume/css/owl.theme.default.min.css">
<!-- Theme Style -->
<link rel="stylesheet" href="__PLUGINS__/resume/css/hero.css">
<include file="Public:aside_js" />
</head>
<body>
<include file="Public:header" />
    <aside id="fh5co-hero" style="background-image: url(__PLUGINS__/resume/img/hero4.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="fh5co-hero-wrap">
                        <div class="fh5co-hero-intro">
                            <h2>
                                future you must thank to the present hard working one
                                <span>
                                </span>
                            </h2>
                            <h1>
                                将来的你，一定会感谢现在拼命的自己！
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <div id="fh5co-main" class="content">
        <!-- content-block -->
        <div class="content-block text-center" id="about">
            <div class="block-content text-center">
                <div class="container">
                    <div class="ch-grid about-circle">
                        <div class="ch-item ch-img-1 wow bounceInDown animated">
                            <div class="ch-info">
                                <h4>
                                    MIUu<br>29
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper wrapper-content">
            <div class="container">
                <div class="work" id="portfolio">
                    <header class="block-heading cleafix text-center">
                        <h2>
                            案例精选<em>/Cases</em>
                        </h2>
                        <h2>
                    </header>
                    <div class="products-bottom">
                        <div class="col-md-4 col-xs-6 work-grid">
                            <div class="view view-tenth">
                                <a href="http://www.aibbk.com/" class="boxer">
                                    <div class="inner_content clearfix">
                                        <div class="product_image">
                                            <img src="__PLUGINS__/resume/img/case/img1.jpg" class="img-responsive of-my" alt="" />
                                            <div class="mask">
                                                <h4>
                                                    背包客户外网
                                                </h4>
                                                <p>以集交友互动、电商购物于一体的户外互动交流平台,致力于推动户外运动，做中国最优秀的户外门户网站。</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6 work-grid">
                            <div class="view view-tenth">
                                <a href="http://www.chengmei.com/" class="boxer">
                                    <div class="inner_content clearfix">
                                        <div class="product_image">
                                            <img src="__PLUGINS__/resume/img/case/img2.jpg" class="img-responsive of-my" alt="" />
                                            <div class="mask">
                                                <h4>
                                                    上海诚美
                                                </h4>
                                                <p>
                                                    一家覆盖了药妆、美妆和互联网渠道，成为多品牌、多渠道经营的化妆品集团企业。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6 work-grid">
                            <div class="view view-tenth">
                                <a href="http://aiduitu.com/test/index.html" class="boxer">
                                    <div class="inner_content clearfix">
                                        <div class="product_image">
                                            <img src="__PLUGINS__/resume/img/case/img3.jpg" class="img-responsive of-my" alt="" />
                                            <div class="mask">
                                                <h4>
                                                    背包客手机站
                                                </h4>
                                                <p>
                                                    背包客手机网站，集互动、组队、交友为一体的户外手机网站
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6 work-grid">
                            <div class="view view-tenth">
                                <a href="http://zhi.aibbk.com/" class="boxer">
                                    <div class="inner_content clearfix">
                                        <div class="product_image">
                                            <img src="__PLUGINS__/resume/img/case/img4.jpg" class="img-responsive of-my" alt="" />
                                            <div class="mask">
                                                <h4>
                                                    陟·拓展
                                                </h4>
                                                <p>
                                                    致力于开发国内外精品户外线路及拓展训练课程，帮助各类型企业打造一支支高绩效团队。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6 work-grid">
                            <div class="view view-tenth">
                                <a href="http://www.sdcianet.com" class="boxer">
                                    <div class="inner_content clearfix">
                                        <div class="product_image">
                                            <img src="__PLUGINS__/resume/img/case/img5.jpg" class="img-responsive of-my" alt="" />
                                            <div class="mask">
                                                <h4>
                                                    山东省涂料行业协会
                                                </h4>
                                                <p>
                                                    山东省涂料行业协会展示网站
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6 work-grid">
                            <div class="view view-tenth">
                                <a href="http://www.51shangyi.com/" class="boxer">
                                    <div class="inner_content clearfix">
                                        <div class="product_image">
                                            <img src="__PLUGINS__/resume/img/case/img6.jpg" class="img-responsive of-my" alt="" />
                                            <div class="mask">
                                                <h4>
                                                    上医网
                                                </h4>
                                                <p>成立于2014年，是一个专注于中医的创业团队，致力于服务所有有疗效的中医、中医机构</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6 work-grid">
                            <div class="view view-tenth">
                               <a href="https://www.lu.com/" class="boxer">
                                    <div class="inner_content clearfix">
                                        <div class="product_image">
                                            <img src="__PLUGINS__/resume/img/case/img7.jpg" class="img-responsive of-my" alt="" />
                                            <div class="mask">
                                                <h4>
                                                    陆金所
                                                </h4>
                                                <p>
                                                    之前团队做的一个网站，现已改版
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6 work-grid">
                            <div class="view view-tenth">
                                <a href="http://www.licron.com/" class="boxer">
                                    <div class="inner_content clearfix">
                                        <div class="product_image">
                                            <img src="__PLUGINS__/resume/img/case/img8.jpg" class="img-responsive of-my" alt="" />
                                            <div class="mask">
                                                <h4>
                                                    礼众信息
                                                </h4>
                                                <p>
                                                    一家专注于开发网站外包项目的公司，主要业务包括企业站、行业站及手机端电商网站等开发服务。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6 work-grid">
                            <div class="view view-tenth">
                                <a href="http://www.ys-capital.com/" class="boxer">
                                    <div class="inner_content clearfix">
                                        <div class="product_image">
                                            <img src="__PLUGINS__/resume/img/case/img9.jpg" class="img-responsive of-my" alt="" />
                                            <div class="mask">
                                                <h4>
                                                    银树资本
                                                </h4>
                                                <p>
                                                    专业从事股权投资管理、企业资产管理、境内外上市或并购财务顾问、投融资顾问、私人财富管理。
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mid-bann">
            <div class="container">
                <h3>
                    人的知识就好比一个圆圈
                </h3>
                <p class="col-sm-8 col-sm-offset-2">
                    『 人的知识就好比一个圆圈，圆圈里面是已知的，圆圈外面是未知的。你知道得越多，圆圈也就越大，你不知道的也就越多。 』
                </p>
            </div>
        </div>
        <div class="content-block text-center" id="skill">
            <header class="block-heading cleafix">
                <h2>
                    专业技能<em>/SPECIAL SkillS</em>
                </h2>
            </header>
            <div class="block-content text-center">
                <div class="container">
                    <div class="col-sm-3 col-xs-6 skill_item wow zoomIn animated ">
                        <img src="__PLUGINS__/resume/img/html.png" alt="">
                        <h3>
                            HTML5/CSS3
                        </h3>
                    </div>
                    <div class="col-sm-3 col-xs-6 skill_item wow zoomIn animated">
                        <img src="__PLUGINS__/resume/img/css.png" alt="">
                        <h3>
                            SCSS
                        </h3>
                    </div>
                    <div class="col-sm-3 col-xs-6 skill_item wow zoomIn animated">
                        <img src="__PLUGINS__/resume/img/js.png" alt="">
                        <h3>
                            JS/jQuery
                        </h3>
                    </div>
                    <div class="col-sm-3 col-xs-6 skill_item zoomIn wow animated">
                        <img src="__PLUGINS__/resume/img/node.png" alt="">
                        <h3>
                            React/Redux
                        </h3>
                    </div>
                </div>
            </div>
            <div class="ibox-content container text-left">
                <div class="col-sm-4">
                    <h5>
                        HTML5/CSS3
                    </h5>
                    <div class="progress">
                        <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35"
                        role="progressbar" class="progress-bar progress-bar-success">
                            <span class="sr-only">
                                35% Complete (success)
                            </span>
                        </div>
                    </div>
                    <h5>
                        JS/jQuery
                    </h5>
                    <div class="progress progress-bar-default">
                        <div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43"
                        role="progressbar" class="progress-bar">
                            <span class="sr-only">
                                43% Complete (success)
                            </span>
                        </div>
                    </div>
                    <h5>
                        Bootstrap/Sass
                    </h5>
                    <div class="progress progress-striped active">
                        <div style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75"
                        role="progressbar" class="progress-bar progress-bar-danger">
                            <span class="sr-only">
                                40% Complete (success)
                            </span>
                        </div>
                    </div>
                    <h5>
                        PHP/THINKPHP
                    </h5>
                    <div class="progress progress-striped active">
                        <div style="width: 62%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50"
                        role="progressbar" class="progress-bar progress-bar-warning">
                            <span class="sr-only">
                                40% Complete (success)
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <ol class="skill_info">
                        <li>
                            熟练掌握HTML和CSS，熟练手写符合 W3C 标准的结构和代码。
                        </li>
                        <li>
                            对可用性、可访问性、前端性能优化、最优实践等有一定的了解和实践,熟练掌握 HTML5 和 CSS3。
                        </li>
                        <li>
                            熟练掌握 sublime text、notepad++、Sass、Git、SVN 等等前端开发和团队协作工具。
                        </li>
                        <li>
                            熟练掌握 jQuery，实现日常需要的交互效果,了解 Ajax 工作原理和实现方法。
                        </li>
                        <li>
                            熟练掌握BootStrap,实现自适应网页开发。
                        </li>
                        <li>
                            了解手机前端开发jquerymobile，swipper等,熟练掌握React/Redux.js。
                        </li>
                        <li>
                            掌握PHP后端知识，可以使用ThinkPHP框架进行中小型网站、企业站、行业站开发。
                        </li>
                        <li>
                            喜欢接触新事物，有一定的自学能力。
                        </li>
                        <a href="#experience" class="btn btn-default mt15">
                        更多了解
                    </a>
                    </ol>

                </div>
            </div>
        </div>
        <div id="services" class="content-block">
            <div id="numbers" class="parallax">
                <div class="overlay">
                    <div class="container-fluid container">
                        <!-- number list -->
                        <ul class="numbersList">
                            <li class="col-md-3 col-sm-4 col-xs-6">
                                <h4>
                                    技术文摘
                                </h4>
                                <span id="number1" class="count1 count-timer">
                                    {$list4}
                                </span>
                            </li>
                            <li class="col-md-3 col-sm-4 col-xs-6">
                                <h4>
                                    常用软件
                                </h4>
                                <span id="number2" class="count2">
                                    {$list3}
                                </span>
                            </li>
                            <li class="col-md-3 col-sm-4 col-xs-6">
                                <h4>
                                    我在路上
                                </h4>
                                <span id="number4" class="count3">
                                    {$list1}
                                </span>
                            </li>
                            <li class="col-md-3 col-sm-4 col-xs-6">
                                <h4>
                                    美文分享
                                </h4>
                                <span id="number4" class="count4">
                                    {$list2}
                                </span>
                            </li>
                        </ul>
                        <!-- numbersList end -->
                    </div>
                    <!-- container-fluid end -->
                </div>
                <!-- overlay end -->
            </div>
        </div>
         <section id="experience">
            <div class="container">
                <div class="row">
                    <header class="block-heading text-center cleafix">
                        <h2>
                            我的经历<em>/My Experiences</em>
                        </h2>
                    </header>
                    <div class="col-md-12">
                        <div class="owl-carousel-fullwidth owl-carousel-2">

                            <div class="item wow fadeInUpBig animated">
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-img">
                                    <img src="__PLUGINS__/resume/img/owl1.png" alt="Images" class="img-responsive">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-text">
                                    <h2>
                                        上海鸿与智展览服务有限公司
                                        <span class="fh5co-border">
                                        </span>
                                    </h2>
                                    <h4>
                                        2012/10~2013/12
                                    </h4>
                                    <p>
                                        <span>
                                            <i class="fa fa-star-half-full">
                                            </i>
                                            网站美工/设计
                                        </span>
                                        <ol>
                                            <li>
                                                根据公司需要制作网站页面,网站banner设计及更新，并协助网站前端工程师对产品展示页面切图，并负责官网杂志、展会活动信息发布及日常维护；
                                            </li>
                                            <li>
                                                进行简单的页面兼容调试，期间自学前端布局标准解决方案；
                                            </li>
                                            <li>
                                                开始了解到web前端这门技术，学习优秀的前端作品；
                                            </li>
                                            <li>
                                                公司官网：
                                                <a href="http://www.crtschina.com" target="_blank">
                                                    http://www.crtschina.com/
                                                </a>
                                            </li>
                                        </ol>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-img">
                                    <img src="__PLUGINS__/resume/img/macbook_3.png" alt="Images" class="img-responsive">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-text">
                                    <h2>
                                        上海礼众信息技术有限公司
                                        <span class="fh5co-border">
                                        </span>
                                    </h2>
                                    <h4>
                                        2013/12~2014/11
                                    </h4>
                                    <p>
                                        <span>
                                            <i class="fa fa-star-half-full">
                                            </i>
                                            网站前端
                                        </span>
                                        <ol>
                                            <li>
                                                负责网站外包项目前端开发，网站内容结构优化更改及浏览器兼容性调试；
                                            </li>
                                            <li>
                                                开始接触PHP后台开发，与PHP工程师进行前后端项目对接；
                                            </li>
                                            <li>
                                                工作之余开始学习并掌握CSS预处理器SASS的使用方法，了解了主流的前端架构（Bootstrap）和协调工作解决方案（svn）等
                                            </li>
                                            <li>
                                                公司官网：
                                                <a href="http://www.licron.com" target="_blank">
                                                    http://www.licron.com
                                                </a>
                                            </li>
                                        </ol>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-img">
                                    <img src="__PLUGINS__/resume/img/macbook_3.png" alt="Images" class="img-responsive">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-text">
                                    <h2>
                                        上海背包客户外网（电商+SNS）
                                    </h2>
                                    <h4>
                                        2014/11~2016/6
                                    </h4>
                                    <p>
                                        <span>
                                            <i class="fa fa-star-half-full">
                                            </i>
                                            网站前端
                                        </span>
                                        <ol>
                                            <li>
                                                负责背包客户外商城网站前端开发，与设计部沟通网站页面的布局，与产品部沟通产品实现解决方案，与后台PHP协定数据接口（json），前端合并、发布、测试、版本管理方案（SVN）；
                                            </li>
                                            <li>
                                                负责背包客手机HTML5页面开发，运用jQuery,swiper等前端框架技术；
                                            </li>
                                            <li>
                                                期间，利用闲余时间学习PHP、mysql，对PHP后台技术有了更深入的了解和学习，完善了PHP与前端的协同开发；
                                            </li>
                                            <li>
                                                利用业余时间，后台运用ThinkPHP+MySQL，前端采用Bootstrap+jQuery+ajax+swiper等技术制作响应式交互型个人技术博客。
                                            </li>
                                            <li>
                                                公司官网：
                                                <a href="http://www.aibbk.com/" target="_blank">
                                                    http://www.aibbk.com/
                                                </a>
                                            </li>
                                        </ol>
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-img">
                                    <img src="__PLUGINS__/resume/img/macbook_3.png" alt="Images" class="img-responsive">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-text">
                                    <h2>
                                        上海中原地产网
                                    </h2>
                                    <h4>
                                        2016/6~2018/6
                                    </h4>
                                    <p>
                                        <span>
                                            <i class="fa fa-star-half-full">
                                            </i>
                                            前端工程师
                                        </span>
                                        <ol>
                                            <li>
                                                负责誉萃系统网站前端开发，与设计沟通网站页面的布局，与产品部沟通产品实现解决方案，实现前端模块化管理，siteMesh\require.js；
                                            </li>
                                            <li>
                                                负责背包客手机HTML5页面开发，运用jQuery,swiper等前端框架技术；require.js对js模块化管理；
                                            </li>
                                            <li>
                                                期间，对大型商城和社区的需求和大型网站的架构进行总结分析，完善了对大网站开发的认知，积累了经验；
                                            </li>
                                            <li>
                                                公司官网：
                                                <a href="http://sh.centanet.com/" target="_blank">
                                                    http://sh.centanet.com/
                                                </a>
                                            </li>
                                        </ol>
                                    </p>
                                </div>
                            </div>

                            <!-- END .item -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

<include file="Public:footer" />
<include file="Public:js" />

<!-- Owl carousel -->
<script src="__PLUGINS__/resume/js/owl.carousel.min.js"></script>
<!-- Magnific Popup -->
<script src="__PLUGINS__/resume/js/jquery.magnific-popup.min.js"></script>
<!-- Superfish -->
<script src="__PLUGINS__/resume/js/superfish.js"></script>
<!-- Easy Responsive Tabs -->
<script src="__PLUGINS__/resume/js/easyResponsiveTabs.js"></script>
<!-- FastClick for Mobile/Tablets -->
<!-- Main JS -->
<script src="__PLUGINS__/resume/js/menu.js"></script>

<!-- timer isonscreen -->
<script src="__PLUGINS__/resume/js/jquery.isonscreen.js"></script>
<script src="__PLUGINS__/resume/js/timercount.js"></script>
<script>
    $("#About_index").addClass("active");
</script>

</body>
</html>
