<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>米鱼（MIUu）博客后台 - 登录</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css" rel="stylesheet">
    <link href="__CSS__/login.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>
        if(window.top!==window.self){window.top.location=window.location};
    </script>

</head>

<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-7">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1>[ H+ ]</h1>
                    </div>
                    <div class="m-b"></div>
                    <h4>欢迎来到 <strong>MIUu博客后台管理</strong></h4>
                    <ul class="m-b">
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势一</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势二</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势三</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势四</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势五</li>
                    </ul>
                    <strong><a href="__APP__">回到前台&raquo;</a></strong>
                </div>
            </div>
            <div class="col-sm-5">
                <form method="post">
                    <h4 class="no-margins">登录：</h4>
                    <p class="m-t-md">登录到MIUu博客后台管理</p>
                    <input type="text" class="form-control uname" placeholder="用户名" name="username" required="" autocomplete="off" />
                    <input type="password" class="form-control pword" placeholder="密码" name="password" required="" autocomplete="off" />
                    <input type="text" class="form-control ver" placeholder="验证码" name="verify" autocomplete="off" />
                    <img src="{:U('Login/getVerify')}" id="verify_img" title="点击刷新验证码" class="verify-control m-b" />
                    <button type="submit" class="btn btn-success btn-block">登录</button>
                </form>
            </div>
        </div>
        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2015 All Rights Reserved. MIUu博客后台管理
            </div>
        </div>
    </div>

    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script>
        //验证码点击刷新
        var img = $("#verify_img");
        var src = img.attr("src")+"?";
        img.click(function(){
        img.attr("src",src+Math.random());
        });

    </script>
</body>

</html>


